﻿@model List<DocFlow.ViewModels.Services.ServiceSearchRecord>
<div class="portlet box @Css.SearchResultsClass " id="bs-search-results-container">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-file-text-o"></i>Resultados
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">

        @(Html.EJ().Grid<DocFlow.ViewModels.Services.ServiceSearchRecord>("FlatGrid")
            .Datasource((IEnumerable<object>)Model)
            .AllowPaging()
            .EnableResponsiveRow(false)
            .AllowSorting()
            .PageSettings(p =>
            {
                p.PageSize(25);
            })
            .MinWidth(650)
             .ToolbarSettings(toolbar =>
             {
                 toolbar.ShowToolbar().ToolbarItems(items =>
                 {
                     items.AddTool(ToolBarItems.ExcelExport);
                     items.AddTool(ToolBarItems.PdfExport);
                     items.AddTool(ToolBarItems.PrintGrid);
                     items.AddTool(ToolBarItems.WordExport);
                 });
             })
            .AllowSelection()
            .AllowScrolling(true)
            .AllowResizing()

                        .AllowFiltering()
            .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
            .Columns(col =>
            {
                col.Field("Id").HeaderText("Id").IsPrimaryKey(true).Visible(false).Add();
                col.Field("Name").HeaderText("Nome").TextAlign(TextAlign.Left).Add();
                col.Field("Code").HeaderText("Código").TextAlign(TextAlign.Left).Add();
                col.Field("Database").HeaderText("Base de Dados").TextAlign(TextAlign.Left).Add();
               
            }))
        @Html.EJ().ScriptManager()
    </div>
</div>

