﻿@using DocFlow;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="Openlimits.pt" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Content/Base/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Base/syncfusion/css/web/responsive-css/ej.responsive.css" rel="stylesheet" />



    <link href="~/Content/Base/syncfusion/css/web/default-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/Content/Base/syncfusion/css/web/default-theme/ej.theme.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/Base/syncfusion/themes/flat-azure/ej.widgets.core.min.css")
    @Styles.Render("~/Content/Base/syncfusion/themes/flat-azure/ej.theme.min.css")*@

    @*@Styles.Render("~/Content/Base/Syncfusion/material/ej.web.all.min.css")*@
    @Scripts.Render("~/Content/Base/jquery/jquery-1.11.2.min.js")
    @Scripts.Render("~/Content/Base/jquery/jquery-migrate-1.2.1.min.js")
    
    @Scripts.Render("~/Content/Base/syncfusion/scripts/jsrender.min.js")
    @Scripts.Render("~/Content/Base/syncfusion/scripts/ej.web.all.min.js")
    @Scripts.Render("~/Content/Base/syncfusion/scripts/ej.unobtrusive.min.js")
    @Scripts.Render("~/Content/Base/syncfusion/scripts/ej.culture.pt-PT.min.js")
    @Scripts.Render("~/Content/Base/syncfusion/scripts/ej.localetexts.pt-PT.min.js")

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="~/Content/Base/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Base/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

    @*<link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />*@




    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/Metronic/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/Metronic/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Metronic/css/layout.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Themes/ol-red.css" rel="stylesheet" type="text/css" id="style_color" />*@
    <link href="~/Content/Base/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Themes/ol-blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/ol-custom-blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Metronic/css/ol-customs.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Base/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    

    <link href="~/Content/Base/plugins/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/Base/plugins/alertifyjs/css/themes/default.min.css" rel="stylesheet" />

    <!-- END THEME STYLES -->
    @if (IsSectionDefined("Style"))
    {
        @RenderSection("Style");
    }

</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-full-width" style="background-color: #F5F5F5 !important;">
    <div class="full-page-loading-div">
        <img class="image-loading-div" src="~/Content/Themes/img/103.gif" alt="" />
    </div>
    <!-- BEGIN HEADER -->
    <div class="page-header -i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href='@Url.Action("Index", "Home", new { area=""}, null)' class="ol-logo">
                    <img src='@Url.Content("~/Content/Themes/img/DocFlowLogo.png")' width="40" height="40" alt="logo" class="logo-default"> 
                    <span class="open-text">DocFlow</span>
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <!-- END LOGO -->
            <div class="hor-menu hor-menu-light ">
                <ul class="nav navbar-nav">
                    <!-- DOC: Remove data-hover="megadropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                    <li class="mega-menu-dropdown mega-menu-full">
                        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" aria-expanded="false">
                            <i class="fa fa-th ol-qklinks-btn"></i>  <!--glyphicon glyphicon-th-->
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    @{Html.RenderAction("Menu", "Home", new { area = "" });}

                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <!--<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>-->
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            @{Html.RenderAction("MenuOptions", "Home", new { area = "" });}


            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <!-- END HEADER -->
    <div class="clearfix bg-ol">

    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        @*@{Html.RenderAction("FilesProcessing", "Home", new { area = "" });}*@


        <div class="page-content-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            &copy; @DateTime.Now.Year - Openlimits
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="~/Content/Base/plugins/respond.min.js"></script>
    <script src="~/Content/Base/plugins/excanvas.min.js"></script>
    <![endif]-->

    <script>
        Language = new Object();
        Months = new Array();
        Months.push('@Language.MONTH_JANUARY');
        Months.push('@Language.MONTH_FEBRUARY');
        Months.push('@Html.Raw(Language.MONTH_MARCH)');
        Months.push('@Language.MONTH_APRIL');
        Months.push('@Language.MONTH_MAY');
        Months.push('@Language.MONTH_JUNE');
        Months.push('@Language.MONTH_JULY');
        Months.push('@Language.MONTH_AUGUST');
        Months.push('@Language.MONTH_SEPTEMBER');
        Months.push('@Language.MONTH_OCTOBER');
        Months.push('@Language.MONTH_NOVEMBER');
        Months.push('@Language.MONTH_DECEMBER');

        MonthsAbrv = new Array();
        MonthsAbrv.push('@Language.MONTHABRV_JANUARY');
        MonthsAbrv.push('@Language.MONTHABRV_FEBRUARY');
        MonthsAbrv.push('@Html.Raw(Language.MONTHABRV_MARCH)');
        MonthsAbrv.push('@Language.MONTHABRV_APRIL');
        MonthsAbrv.push('@Language.MONTHABRV_MAY');
        MonthsAbrv.push('@Language.MONTHABRV_JUNE');
        MonthsAbrv.push('@Language.MONTHABRV_JULY');
        MonthsAbrv.push('@Language.MONTHABRV_AUGUST');
        MonthsAbrv.push('@Language.MONTHABRV_SEPTEMBER');
        MonthsAbrv.push('@Language.MONTHABRV_OCTOBER');
        MonthsAbrv.push('@Language.MONTHABRV_NOVEMBER');
        MonthsAbrv.push('@Language.MONTHABRV_DECEMBER');

        WeekAbrv = new Array();
        WeekAbrv.push('@Language.WEEK_SUNDAY_ABRV');
        WeekAbrv.push('@Language.WEEK_MONDAY_ABRV');
        WeekAbrv.push('@Language.WEEK_TUESTAY_ABRV');
        WeekAbrv.push('@Language.WEEK_WEDNESDAY_ABRV');
        WeekAbrv.push('@Language.WEEK_THURSDAY_ABRV');
        WeekAbrv.push('@Language.WEEK_FRIDAY_ABRV');
        WeekAbrv.push('@Html.Raw(@Language.WEEK_SATURDAY_ABRV)');

        Language.FROM = '@Language.FROM';
        Language.TO = '@Language.TO';
        Language.OK = '@Language.OK';
        Language.EDIT = '@Language.EDIT';
        Language.ADD = '@Language.ADD';
        Language.CANCEL = '@Language.CANCEL';

        Language.SELECT = '@Language.SELECT_PICKER_EMPTY';
        Language.ENERGY = '@Language.ENERGY';
        Language.WATER = '@Html.Raw(@Language.WATER)';

        Language.DATATABLE_EMPTY = '@Language.DATATABLE_EMPTY';
        Language.DATATABLE_FILTERED = '@Language.DATATABLE_FILTERED';
        Language.DATATABLE_INFO = '@Language.DATATABLE_INFO';
        Language.DATATABLE_NO_RECORDS = '@Language.DATATABLE_NO_RECORDS';
        Language.DATATABLE_SEARCH = '@Language.DATATABLE_SEARCH';
        Language.DATATABLE_SHOW = '@Language.DATATABLE_SHOW';
        Language.DATATABLE_SORT_ASCENDING = '@Language.DATATABLE_SORT_ASCENDING';
        Language.DATATABLE_SORT_DESCENDING = '@Language.DATATABLE_SORT_DESCENDING';
        Language.DATATABLE_ZERO_RECORDS = '@Language.DATATABLE_ZERO_RECORDS';
        Language.DATATABLE_ALL = '@Language.ALL';
        Language.DATATABLE_SAVE_CHANGES = '@Language.DATATABLE_SAVE_CHANGES';
        Language.DATATABLE_CONFIRM_DEL = '@Language.DATATABLE_CONFIRM_DEL';

        Language.SELECT_PICKER_EMPTY = '@Language.SELECT_PICKER_EMPTY';
        Language.DATATABLE_LANGUAGE = {
            "aria": {
                "sortAscending": Language.DATATABLE_SORT_ASCENDING,
                "sortDescending": Language.DATATABLE_SORT_DESCENDING
            },
            "emptyTable": Language.DATATABLE_ZERO_RECORDS,
            "info": Language.DATATABLE_INFO,
            "infoEmpty": Language.DATATABLE_EMPTY,
            "infoFiltered": Language.DATATABLE_FILTERED,
            "lengthMenu": Language.DATATABLE_SHOW,
            "search": Language.DATATABLE_SEARCH,
            "zeroRecords": Language.DATATABLE_NO_RECORDS
        };

        Language.DATATABLE_PAGE_LENGTHS = [
                [5, 10, 15, 20, 40, 50, 100, -1],
                [5, 10, 15, 20, 40, 50, 100, Language.DATATABLE_ALL] // change per page values here
        ];
        Language.SUCCESS = '@Language.SUCCESS';
        Language.ERROR = '@Language.ERROR';
        Language.INFO = '@Language.INFO';
        Language.EXPORT_EXCEL = '@Language.EXPORT_EXCEL';
        Language.EXPORT_PDF = '@Language.EXPORT_PDF';
        Language.PRINT = '@Language.PRINT';
        Language.GENERIC_ERROR = '@Language.ERROR_MESSAGE';
    </script>

    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <!-- Teste - acho que nao estamos a usar -->
    @*<script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>*@
    <script src="~/Content/Base/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="~/Content/Base/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/Base/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/Base/plugins/jquery.blockui.min.js" type="text/javascript"></script>

    <!-- Teste - acho que nao estamos a usar -->
    @*<script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>*@
    <script src="~/Content/Base/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

    <!-- Teste - acho que nao estamos a usar -->
    @*<script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>*@
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="~/Content/Metronic/metronic.js" type="text/javascript"></script>
    <!--<script src="~/Scripts/portletfullscreen.js" type="text/javascript"></script>-->
    <script src="~/Content/Metronic/layout.js" type="text/javascript"></script>
    @*<script src="~/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
        <script src="~/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="~/Content/Base/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <!-- DATATABLES -->


    <script type="text/javascript" src="~/Content/Base/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- Teste - acho que nao estamos a usar -->
    @*<script src="~/assets/global/scripts/datatable.js"></script>*@

    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/jszip.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/Base/plugins/datatables/plugins/buttons/datetime-moment.js"></script>

    <script src="~/Content/Base/plugins/datatables/extensions/OpenLimitsSorting/accent-neutralise.js" type="text/javascript"></script>
    <script src="~/Scripts/openlimits.datatables.js" type="text/javascript"></script>
    <script src="~/Content/Base/plugins/datatables/extensions/OpenLimitsSorting/datatables.olSorting.js" type="text/javascript"></script>
    <!-- FIM DATATABLES -->


    <script type="text/javascript" src="~/Scripts/geral.js"></script>
    <script type="text/javascript" src="~/Scripts/utils.js"></script>

    <script src="~/Content/Base/plugins/alertifyjs/alertify.min.js"></script>
    <script src="~/Scripts/Alert.js"></script>

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            //PortletFullscreen.init();
            Layout.init(); // init current layout
            //QuickSidebar.init(); // init quick sidebar
            //Demo.init(); // init demo features
            Geral.init(@((int)DocFlow.Core.Extensions.SessionManager.GetActiveService()));

            $(".ol-menu-tile > button").on('click', function (e) {
                $(".ol-sub-menu > ul").not($(".ol-sub-menu > ul", this.parentNode)).hide();
                $(".ol-sub-menu > ul", this.parentNode).toggle();
            });

            $('body').on('mouseup', function (e) {
                var container = $(".ol-menu-tile");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    $(".ol-sub-menu > ul", this).hide();
                    //  container.hide();
                }
            });



            Geral.CheckLocalStorage();
            //}
            OLSort.SortAll();

        });
    </script>


    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")

    }
    @Html.EJ().ScriptManager()


    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>