﻿@model DocFlow.ViewModels.Table.ModelsSearchModel
@{
    ViewBag.Title = "Modelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {

}
<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-building-o" style="font-size:28px;"></i> Modelos <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-building-o"></i>
                <a href="@Url.Action("Models", "Table")">Modelos</a>
                @*<i class="fa fa-angle-right"></i>*@
            </li>
            @*<li>
                    <i class="fa fa-search"></i>
                    <a href="#">Pesquisa</a>
                </li>*@


        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.GoToClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                @*<ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="@Url.Action("Models", "Table")"><i class="fa fa-plus"></i> Nova</a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </div>


    <!-- BEGIN Portlet PORTLET-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box @Css.SearchParamsClass" id="search-inputs-pnl">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i>@Language.SEARCH_PORTLET_TITLE
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-body">
                        @using (Html.BeginForm("DoSearch", "Table", FormMethod.Post, new { @class = "horizontal-form", @id = "bs-SingleSearchForm" }))
                        {
                            <div id="bs-single-search-params-container">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group ">
                                            <label class="control-label">Código</label>
                                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Código" })
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group ">
                                            <label class="control-label">Descrição</label>
                                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Descrição" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label">Cliente</label>
                                            @Html.TextBoxFor(m => m.Customer, new { @class = "form-control", @placeholder = "Nome / Código" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-actions left " style="background-color:#fff;">
                        <button type="button" id="bs-submit-btn" class="btn purple">@Language.SEARCH</button>
                        <button type="button" id="bs-clean-btn" class="btn red-stripe default">@Language.CLEAN</button>
                    </div>

                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12" id="div-results">
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/Table/model.search.js"></script>
    <script>
        function OnToolbarClick(args) {
            if (args.itemName.indexOf("Export") > -1) {
                var gridInstance = $("#FlatGrid").ejGrid('instance')
                for (var i = 0; i < this.model.columns.length; i++) {
                    if (!IsNullOrEmpty(this.model.columns[i].template)) {
                        this.model.columns[i].template = '';
                    }
                }
                this.model["GridDataSource"] = JSON.stringify(gridInstance._dataSource()).removeHtml();
            }
        }

    </script>

    <script>
        jQuery(document).ready(function () {
            ModelSearch.init();
        });
    </script>
}


