﻿@model DocFlow.ViewModels.Table.ProductEditModel
@using Syncfusion.JavaScript.Models
@{
    ViewBag.Title = "Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL STYLES -->
    <!-- MARTELADA GRELHA LINHAS -->
    <style>
        #FlatGridEditForm div {
            display: block !important;
        }

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
    </style>
}
<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Modelo <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-building-o"></i>
                <a href="@Url.Action("Models", "Table")">Modelos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-building-o"></i>
                @if (Model.Id == null)
                {
                    <a href="#">Novo</a>
                }
                else
                {
                    <a href="#">Detalhes</a>
                }

            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.GoToClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">

                    <li>
                        <a href="@Url.Action("Models", "Table")"> <i class="fa fa-search"></i> Pesquisa </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <div class="clearfix"></div>
    <div class="portlet box @Css.SearchParamsClass">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-building-o"></i>  Modelo
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                        <i class="fa fa-share"></i>
                        <span class="hidden-480">
                            @Language.ACTIONS
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="@Url.Action("New", "Job", new { quoteid = @Model.Id })"><i class="fa fa-pencil"></i>Criar obra</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("New", "Quote", new { Quoteid = @Model.Id })"><i class="fa fa-pencil"></i>Duplicar</a>
                        </li>
                        <li>
                            <a href="@Url.Action("New", "Quote", new { Verquoteid = @Model.Id })"><i class="fa fa-pencil"></i>Nova versão</a>
                        </li>
                        <li>
                            <a href="@Url.Action("New", "Quote", new { Relquoteid = @Model.Id })"><i class="fa fa-pencil"></i>Criar orc. rel.</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="export-select"><i class="fa fa-pencil"></i>Exportar</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GenericPrint", "Template", new { id = @Model.Id,TemplateTypeID = 1})"><i class="fa fa-print"></i>Imprimir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                @using (Html.BeginForm("ModelSave", "Table", FormMethod.Post, new { @class = "horizontal-form", @id = "bs-SingleSearchForm" }))
                {
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                    <div class="portlet light borderless margin-bottom-0">
                        <div class="portlet-body ">
                            <!-- HEADER DETAILS -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Código</label>
                                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label">Descrição</label>
                                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Unidade</label>
                                        @Html.EditorFor(m => m.QtdUnits)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">IVA</label>
                                        <select name="VATId" class="form-control bs-select" id="form-cost-vatId">
                                            <option data-rate="0" value=""></option>
                                            @foreach (var item in Model.VatList)
                                            {
                                                if (item.Rate.ToRoundFormat(2).Length == 4)
                                                {
                                                    <option data-rate="@item.Rate" value="@item.Id">&nbsp;@item.Rate.ToRoundFormat(0)% &nbsp;&nbsp;(@item.Code)</option>
                                                }
                                                else
                                                {
                                                    <option data-rate="@item.Rate" value="@item.Id">@item.Rate.ToRoundFormat(0)%&nbsp;&nbsp; (@item.Code)</option>
                                                }

                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">P.U.</label>
                                        @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Largura</label>
                                        @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Comp.</label>
                                        @Html.TextBoxFor(m => m.Heigth, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Espessura</label>
                                        @Html.TextBoxFor(m => m.Depth, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Unidade</label>
                                        @Html.EditorFor(m => m.Units)

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label">Dimensões</label>
                                        @Html.TextBoxFor(m => m.Depth, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="portlet light borderless margin-bottom-0">
                        <div class="portlet-title">
                            <div class="caption ">
                                Especificações
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label" style="white-space: nowrap;">Memória Descritiva</label>
                                        @Html.TextAreaFor(m => m.DescriptiveMemory, new { @class = "form-control", @rows = "9" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label"><a href="javascript:;" id="show-material-popup">Especificações (+)</a></label>
                                        <div class="table-scrollable" style="height:200px; overflow:auto;margin-top:0 !important;">
                                            <table class="table table-striped table-condensed table-bordered table-hover dataTable no-footer" id="tbl-line-material" cellspacing="0" cellpadding="0" border="0" style="border-spacing: 0">
                                                <thead>
                                                    <tr>
                                                        <th>Tipo</th>
                                                        <th>Descritivo</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="portlet light borderless margin-bottom-0" id="cost-calculations">
                        <div class="portlet-title">
                            <div class="caption ">
                                Cálculos
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <div class="row ">
                                <div class="col-md-6">
                                    @(Html.EJ().Grid<DocFlow.ViewModels.CostCalculationItem>("GridMargins2")
                                                    .Datasource(ds => ds.Json((IEnumerable<object>)Model.CostItems))
                                                    .EnableAltRow()
                                                    //.ToolbarSettings(toolbar =>
                                                    //{
                                                    //    toolbar.ShowToolbar().ToolbarItems(items =>
                                                    //    {
                                                    //        items.AddTool(ToolBarItems.Add);
                                                    //        items.AddTool(ToolBarItems.Edit);
                                                    //        items.AddTool(ToolBarItems.Delete);

                                                    //    });
                                                    //})
                                                    .SummaryRow(r =>
                                                    {
                                                        r.Title("Total").SummaryColumns(col => { col.SummaryType(SummaryType.Custom).CustomSummaryValue("calcSummary").DisplayColumn("TotalValue").Add(); }).Add();

                                                    })
                                .ShowSummary(true)

                                                    .EditSettings(e => e.AllowAdding(true).AllowEditing(true))
                                                    .AllowSelection()
                                                    .SelectionType(SelectionType.Single)
                                                    .ClientSideEvents(evt => evt.ActionBegin("beforeSave2").RowSelected("selectMargins"))
                                                    .Columns(col =>
                                                    {
                                                        col.Field("Id").IsPrimaryKey(true).Visible(false).Add();
                                                        col.Field("Name").HeaderText("Rubrica").Add();
                                                        col.Field("Value").HeaderText("Valor").Format("{0:N2}").Add();
                                                        col.Field("MarginPercentage").HeaderText("Margem %").Template("{{:MarginPercentage*100}}").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).AllowEditing(false).Add();
                                                        col.Field("MarginValue").HeaderText("Margem €").Template("{{:Value*MarginPercentage}}").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).AllowEditing(false).Add();
                                                        col.Field("TotalValue").HeaderText("PVP").Template("{{:Value+Value*MarginPercentage}}").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).AllowEditing(false).Add();
                                                    })

                                    )
                                </div>
                                <div class="col-md-6">
                                    <div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 175px;">
                                        @(Html.EJ().Grid<DocFlow.ViewModels.Quote.MarginGrid>("GridMargins")
                                                    .Datasource(ds => ds.Json((IEnumerable<object>)Model.Margins))
                                                    .EnableAltRow()
                                                    .AllowSelection()

                                                    .SelectionType(SelectionType.Single)
                                                    .Columns(col =>
                                                    {
                                                        col.Field("Percentage").HeaderText("Margem %").Add();
                                                        col.Field("Value").HeaderText("Valor Margem").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                                                        col.Field("Total").HeaderText("Total").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                                                    })
                                                     .ClientSideEvents(eve =>
                                                     {
                                                         eve.RowSelected("rowSelected");
                                                     })
                                        )
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                }

                <div class="portlet box @Css.SearchParamsClass" id="handlabor-selection-parent">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-search"></i>Mão de Obra
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm btn-branco" href="#" id="edit-operations">
                                    <i class="fa fa-share"></i>
                                    <span>
                                        Editar
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="choosed-operations">
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.EJ().Grid<MVC.DomainModel.Quotes.OperationModel>("ChoosedOperations")
                .Datasource(ds => ds.Json((IEnumerable<object>)Model.ItemOperations))
                .EnableAltRow()
                .AllowPaging()
                .ToolbarSettings(toolbar =>
                {
                    toolbar.ShowToolbar().ToolbarItems(items =>
                    {
                        items.AddTool(ToolBarItems.Add);
                        items.AddTool(ToolBarItems.Edit);
                        items.AddTool(ToolBarItems.Delete);
                        items.AddTool(ToolBarItems.Update);
                        items.AddTool(ToolBarItems.Cancel);
                    });
                })
                .Columns(col =>
                {
                    col.Field("OperationID").HeaderText("OperationID").IsPrimaryKey(true).Visible(false).Add();
                    col.Field("Description").TextAlign(TextAlign.Left).HeaderText("Secção").AllowEditing(false).Width("15%").Add();
                    col.Field("NDays").TextAlign(TextAlign.Right).HeaderText("N.º Dias").EditType(EditingType.Numeric).Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                    col.Field("NHours").TextAlign(TextAlign.Right).HeaderText("N.º Horas").EditType(EditingType.Numeric).Format("{0:N2}").Width("10%").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                    col.Field("NResources").TextAlign(TextAlign.Right).HeaderText("N.º Homens").EditType(EditingType.Numeric).Format("{0:N}").Width("10%").Add();
                    col.Field("TotalHours").TextAlign(TextAlign.Right).HeaderText("Total Horas").AllowEditing(false).Template("{{:NDays*8+NHours}}").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                    col.Field("UnitPrice").HeaderText("Preço médio").TextAlign(TextAlign.Right).EditType(EditingType.Numeric).Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                    col.Field("Total").HeaderText("Total").AllowEditing(false).TextAlign(TextAlign.Right).Template("{{:(NDays*8+NHours)*NResources*UnitPrice}}").EditType(EditingType.Numeric).Format("{0:C2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                })
                  .SummaryRow(r =>
                                                    {
                                                        r.Title("Total").SummaryColumns(col => { col.SummaryType(SummaryType.Custom).CustomSummaryValue("calcChoosedOperations").DisplayColumn("Total").Add(); }).Add();

                                                    })
                                .ShowSummary(true)
                                )
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body ol-hide" id="edit-form">
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.EJ().Grid<MVC.DomainModel.Quotes.OperationModel>("Operations")
                .Datasource(ds => ds.Json((IEnumerable<object>)Model.Operations))
                .EnableAltRow()
                .AllowPaging()
                .EditSettings(edit => edit.AllowEditing())
                .Columns(col =>
                {
                    col.Field("OperationID").HeaderText("OperationID").IsPrimaryKey(true).Visible(false).Add();
                    col.Field("Description").TextAlign(TextAlign.Left).HeaderText("Secção").AllowEditing(false).Width("15%").Add();
                    col.Field("NDays").TextAlign(TextAlign.Right).HeaderText("N.º Dias").EditType(EditingType.Numeric).Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                    col.Field("NHours").TextAlign(TextAlign.Right).HeaderText("N.º Horas").EditType(EditingType.Numeric).Format("{0:N2}").Width("10%").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                    col.Field("TotalHours").TextAlign(TextAlign.Right).HeaderText("Total Horas").AllowEditing(false).Template("{{:NDays*8+NHours}}").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                    col.Field("NResources").TextAlign(TextAlign.Right).HeaderText("N.º Homens").EditType(EditingType.Numeric).Format("{0:N}").Width("10%").Add();
                    col.Field("UnitPrice").HeaderText("Preço médio").TextAlign(TextAlign.Right).EditType(EditingType.Numeric).Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();
                    col.Field("Total").HeaderText("Total").AllowEditing(false).TextAlign(TextAlign.Right).Template("{{:(NDays*8+NHours)*NResources*UnitPrice}}").EditType(EditingType.Numeric).Format("{0:C2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Width("10%").Add();

                })
                 .SummaryRow(r =>
                 {
                     r.Title("Total").SummaryColumns(col => { col.SummaryType(SummaryType.Custom).CustomSummaryValue("calcChoosedOperationsFull").DisplayColumn("Total").Add(); }).Add();

                 })
                                .ShowSummary(true)
                                )
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                @*<button type="button" id="material-select-btn" class="btn purple">@Language.ADD</button>*@
                                <button type="button" id="operation-save-btn" class="btn purple">Confirmar</button>
                                <button type="button" id="operation-cancel-btn" class="btn purple">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="portlet box @Css.SearchParamsClass" id="material-selection-parent">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-search"></i>Materiais
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm btn-branco" href="#" id="edit-materials">
                                    <i class="fa fa-share"></i>
                                    <span>
                                        Editar
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="choosed-materials">
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.EJ().Grid<MVC.DomainModel.Quotes.MaterialCostModel>("ChoosedMaterial")
                .Datasource(ds => ds.Json((IEnumerable<object>)Model.ItemMaterials))
                .EnableAltRow()
                .AllowPaging()
                .ToolbarSettings(toolbar =>
                {
                    toolbar.ShowToolbar().ToolbarItems(items =>
                    {
                        //items.AddTool(ToolBarItems.Add);
                        items.AddTool(ToolBarItems.Edit);
                        //items.AddTool(ToolBarItems.Delete);
                        //items.AddTool(ToolBarItems.Update);
                        //items.AddTool(ToolBarItems.Cancel);
                    });
                })
                .Columns(col =>
                {
                    col.Field("Id").HeaderText("Id").IsPrimaryKey(true).IsIdentity(true).Visible(false).Add();
                    col.Field("Description").TextAlign(TextAlign.Left).HeaderText("Descrição").Width("15%").Add();
                    col.Field("Family").TextAlign(TextAlign.Left).HeaderText("Família").Width("10%").Add();
                    col.Field("Type").TextAlign(TextAlign.Left).HeaderText("Tipo").Width("10%").Add();
                    col.Field("Brand").TextAlign(TextAlign.Left).HeaderText("Marca").Width("10%").Add();
                    col.Field("Provider").TextAlign(TextAlign.Left).HeaderText("Fornecedor").Width("10%").Add();
                    col.Field("Quantity").HeaderText("Quantidade").TextAlign(TextAlign.Right).Width("10%").Add();
                    col.Field("UnitPrice").HeaderText("P.U.").TextAlign(TextAlign.Right).Width("10%").Add();
                    col.Field("Dimension").TextAlign(TextAlign.Right).HeaderText("Dimensão").Width("10%").Add();
                    col.Field("Total").HeaderText("Total").TextAlign(TextAlign.Right).Width("10%").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                })
                .SummaryRow(r =>
                {
                    r.Title("Total").SummaryColumns(col => { col.SummaryType(SummaryType.Custom).CustomSummaryValue("calcSummaryChoosedMaterial").DisplayColumn("Total").Add(); }).Add();

                })
                                .ShowSummary(true)
                                )
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body ol-hide" id="edit-form">
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.EJ().Grid<MVC.DomainModel.Quotes.MaterialCostModel>("EditMaterial")
                .Datasource(ds => ds.Json((IEnumerable<object>)Model.ItemMaterials))
                .EnableAltRow()
                .EditSettings(x => x.AllowDeleting())
                .AllowPaging()
                .ToolbarSettings(toolbar =>
                {
                    toolbar.ShowToolbar().ToolbarItems(items =>
                    {
                        //items.AddTool(ToolBarItems.Add);
                        //items.AddTool(ToolBarItems.Edit);
                        items.AddTool(ToolBarItems.Delete);
                        //items.AddTool(ToolBarItems.Update);
                        //items.AddTool(ToolBarItems.Cancel);
                    });
                })
                .Columns(col =>
                {
                    col.Field("Id").HeaderText("Id").IsPrimaryKey(true).IsIdentity(true).Visible(false).Add();
                    col.Field("Description").TextAlign(TextAlign.Left).HeaderText("Descrição").Width("15%").Add();
                    col.Field("Family").TextAlign(TextAlign.Left).HeaderText("Família").Width("10%").Add();
                    col.Field("Type").TextAlign(TextAlign.Left).HeaderText("Tipo").Width("10%").Add();
                    col.Field("Brand").TextAlign(TextAlign.Left).HeaderText("Marca").Width("10%").Add();
                    col.Field("Provider").TextAlign(TextAlign.Left).HeaderText("Fornecedor").Width("10%").Add();
                    col.Field("Quantity").HeaderText("Quantidade").TextAlign(TextAlign.Right).Width("10%").Add();
                    col.Field("UnitPrice").HeaderText("P.U.").TextAlign(TextAlign.Right).Width("10%").Add();
                    col.Field("Dimension").TextAlign(TextAlign.Right).HeaderText("Dimensão").Width("10%").Add();
                    col.Field("Total").HeaderText("Total").TextAlign(TextAlign.Right).Width("10%").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                })
                                )
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.EJ().Grid<MVC.DomainModel.Quotes.MaterialCostModel>("MaterialGrid")
                .Datasource(ds => ds.Json((IEnumerable<object>)Model.Materials))
                .EnableAltRow()
                .AllowPaging()
                .IsResponsive()
                .AllowSelection()
                .EditSettings(f => f.AllowEditing(true))
               .ToolbarSettings(toolbar =>
               {
                   toolbar.ShowToolbar().ToolbarItems(items =>
                   {

                       items.AddTool(ToolBarItems.Edit);

                       items.AddTool(ToolBarItems.Update);
                       items.AddTool(ToolBarItems.Cancel);
                   });
               })
                .SelectionType(SelectionType.Multiple)
                .AllowFiltering()
                .AllowSorting()
                .FilterSettings(x => x.FilterType(FilterType.Excel))
                .Columns(col =>
                {
                    col.Field("Id").HeaderText("Id").IsPrimaryKey(true).IsIdentity(true).Visible(false).Add();
                    col.Field("Description").TextAlign(TextAlign.Left).HeaderText("Descrição").Width("15%").AllowEditing(false).Add();
                    col.Field("Family").TextAlign(TextAlign.Left).HeaderText("Família").Width("10%").AllowEditing(false).Add();
                    col.Field("Type").TextAlign(TextAlign.Left).HeaderText("Tipo").Width("10%").AllowEditing(false).Add();
                    col.Field("Brand").TextAlign(TextAlign.Left).HeaderText("Marca").Width("10%").AllowEditing(false).Add();
                    col.Field("Provider").TextAlign(TextAlign.Left).HeaderText("Fornecedor").Width("10%").AllowEditing(false).Add();
                    col.Field("Quantity").HeaderText("Quantidade").TextAlign(TextAlign.Right).Width("10%").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                    col.Field("PriceNow").TextAlign(TextAlign.Right).HeaderText("P.U.").Width("5%").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                    col.Field("Dimension").TextAlign(TextAlign.Right).HeaderText("Dimensão").Width("10%").AllowEditing(false).Add();
                    col.Field("Total").HeaderText("Total").TextAlign(TextAlign.Right).Width("10%").AllowEditing(false).Template("{{:Quantity*PriceNow}}").Format("{0:N2}").NumericEditOptions(new EditorProperties() { DecimalPlaces = 2 }).Add();
                }).ClientSideEvents(c => c.ActionComplete("materialToAdd"))
                                )
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                @*<button type="button" id="material-select-btn" class="btn purple">@Language.ADD</button>*@
                                <button type="button" id="material-save-btn" class="btn purple">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions left " style="background-color:#fff;">
                <button type="button" id="bs-submit-btn" class="btn @Css.MainBtnClass">@Language.SAVE</button>
                <button type="button" id="bs-cancel-btn" class="btn red-stripe default">@Language.CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-material" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Especificações <label class="pull-right"><input type="checkbox" id="material-mem-update" /> Atualizar Memória Descritiva</label>
            </div>
            <div class="modal-body">

                <div class="horizontal-form" id="form-exclusions">

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="form-group ">
                                    <label class="control-label">Parâmetro</label>
                                    @Html.EditorFor(m => m.SpecificationTypes)
                                </div>
                            </div>

                            <div class="col-md-5 ">
                                <div class="form-group ">
                                    <label class="control-label">Descritivo</label><div class="input-group">
                                        <input type="text" id="material-add-text" class="form-control" />
                                        @*@Html.TextBoxFor(m => m.Observations, new { @class = "form-control" })*@
                                        <span class="input-group-btn">
                                            <button class="btn default " id="material-add-new" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group pull-right">
                                    <label class="control-label">&nbsp;</label><br />
                                    <label class="control-label"> <input type="checkbox" id="filter-mini-tbl"> Só Seleccionados</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                @*<label class="control-label" style="white-space: nowrap;">Especificações</label>*@
                                @*<label class="control-label pull-right" style="white-space: nowrap;    margin-bottom: 10px;"> <input type="checkbox" id="filter-mini-tbl"> Só Seleccionados</label>*@
                                <div class="table-scrollable">
                                    <table class="table table-striped table-condensed table-bordered table-hover dataTable no-footer" id="mini-tbl" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;">&nbsp;</th>
                                                <th>Parâmetros</th>
                                                <th>Descritivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.SpecificationList != null)
                                            {
                                                foreach (var item in Model.SpecificationList)
                                                {
                                                    <tr class="e-row type-material-@item.TypeId" id="spec-row-id-@item.SpecificationId">
                                                        <td><input type="checkbox" data-id="@item.SpecificationId" /></td>
                                                        <td>@item.Type</td>
                                                        <td>@item.Specification</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions ">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" id="save-material">Confirmar</button>
                                <button type="button" class="btn default" id="cancel-material">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $.fn.enterKey = function (fnc) {
        return this.each(function () {
            $(this).keypress(function (ev) {
                var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                if (keycode == '13') {
                    fnc.call(this, ev);
                }
            })
        })
    }
</script>
<script>
    function rowSelected(args) {
        var data = args.data;
        $("#form-cost-marginpercentage").val(Formulas.Quote().round(data.Percentage.replace("%", "")));
        $("#form-cost-marginvalue").val(Formulas.Quote().round(data.Value));
        $("#form-cost-price").val(Formulas.Quote().round(data.Total));


        var obj = $("#GridMargins2").ejGrid("instance");

        for (var i = 0; i < obj.model.dataSource.dataSource.json.length; i++) {
            obj.model.dataSource.dataSource.json[i].MarginPercentage = Number(data.Percentage.replace("0%", "")) / 10;
        }

        //getSelectedRecords method will display the selected row in a grid
        //obj.getSelectedRecords()[0].MarginPercentage = Number(data.Percentage.replace("0%", "")) / 10;
        //var selectedI = obj.selectedRowsIndexes[0];
        obj._refreshDataSource();
       // obj.selectRows(selectedI);
    }

    function rowSelected3(args) {
        var data = args.data;
        $("#form-cost-marginpercentage").val(Formulas.Quote().round(data.Percentage.replace("%","")));
        $("#form-cost-marginvalue").val(Formulas.Quote().round(data.Value));
        $("#form-cost-price").val(Formulas.Quote().round(data.Total));


    }

</script>
<script type="text/javascript">

    function calcSummary() {
        var gridObj = $("#GridMargins2").ejGrid("instance")

        var res = 0;
        for (var i = 0; i < gridObj.model.dataSource.dataSource.json.length; i++) {
            res = res + gridObj.model.dataSource.dataSource.json[i].Value + gridObj.model.dataSource.dataSource.json[i].Value * (IsNullOrEmpty(gridObj.model.dataSource.dataSource.json[i].MarginPercentage) ? 0 : gridObj.model.dataSource.dataSource.json[i].MarginPercentage)
        }
        $("#form-cost-unitprice").val(res.toString());

        res = Math.round(res * 100) / 100;

        if (!IsNullOrEmpty(window.rrrsss)) {

            var val = 0;
            for (var i = 0; i < gridObj.model.dataSource.dataSource.json.length; i++) {
                val = val + gridObj.model.dataSource.dataSource.json[i].Value;
            }


        var datasource = new Array();
        for (var i = 1; i < 10; i++) {
            datasource.push({ selected: false, Percentage: i.toString() + "0%", Value: Formulas.Quote().round(val * (i / 10)), Total: Formulas.Quote().round(val + (val * (i / 10))) });
        }
        $("#GridMargins").ejGrid("option", { dataSource: datasource });
        
        }
        window.rrrsss = 1;
        return res;
    }


    function beforeSave2(args) {
        if (args.requestType == "save") {
            if (IsNullOrEmpty(args.data.MarginPercentage))
                args.data.MarginPercentage = 0;
        }
    }

    function selectMargins(args) {
      //  var gridObj = $("#GridMargins").ejGrid("instance")

        ////var val = args.data.Value;
        ////var datasource = new Array();
        ////for (var i = 1; i < 10; i++) {
        ////    datasource.push({ selected: false, Percentage: i.toString() + "0%", Value: val * (i / 10), Total: val + (val * (i / 10)) });
        ////}
        ////$("#GridMargins").ejGrid("option", { dataSource: datasource });
        //gridObj.model.dataSource = data;
       // gridObj.refreshContent();

    }


</script>
<script>
    $(document).on('click', "#GetMargins", function () {
        if ($("#margins-div").hasClass("ol-hide")) {
            $("#margins-div").removeClass("ol-hide");
        }
        else {
            $("#margins-div").addClass("ol-hide");
        }

    });
</script>
<script>
    @if (true) {
        <text>var Operations = [];</text>
        <text>Operations.JsonParams = JSON.parse('</text>@Html.Raw(Model.OperationsJSON)<text>');</text>
    }
    $("#edit-operations").on('click', function () {
        $("#choosed-operations").addClass("ol-hide");
        $("#handlabor-selection-parent #edit-form").removeClass("ol-hide");
    });
    $("#operation-save-btn").on('click', function () {
        /* GET SELECTED ROWS FROM TABLE MaterialGrid*/
        var gridObj = $("#Operations").ejGrid("instance");
        gridObj.refreshContent();
        var records = gridObj.model.dataSource.dataSource.json;

        var editgridObj = $("#ChoosedOperations").ejGrid("instance");
        editgridObj.model.dataSource.dataSource.json = [];
        for (var i = 0; i < records.length; i++) {
            if ((records[i].NDays * 8 + records[i].NHours) * records[i].NResources * records[i].UnitPrice != 0)
                editgridObj.model.dataSource.dataSource.json.push(records[i]);
        }
        editgridObj.refreshContent();

        $("#choosed-operations").removeClass("ol-hide");
        $("#handlabor-selection-parent #edit-form").addClass("ol-hide");
    });
    $("#operation-cancel-btn").on('click', function () {
        /* GET SELECTED ROWS FROM TABLE MaterialGrid*/
        var gridObj = $("#Operations").ejGrid("instance");
        gridObj.model.dataSource.dataSource.json = Operations.JsonParams;

        gridObj.refreshContent();
    });



    function calcChoosedOperationsFull() {
        var gridObj = $("#Operations").ejGrid("instance")

        var res = 0;
        for (var i = 0; i < gridObj.model.dataSource.dataSource.json.length; i++) {
            res = res + ((gridObj.model.dataSource.dataSource.json[i].NDays * 8 + gridObj.model.dataSource.dataSource.json[i].NHours) * gridObj.model.dataSource.dataSource.json[i].NResources * gridObj.model.dataSource.dataSource.json[i].UnitPrice);
        }

        res = Math.round(res * 100) / 100;

        return res;
    }

    function calcChoosedOperations() {

        var gridObj = $("#ChoosedOperations").ejGrid("instance")

        var res = 0;
        for (var i = 0; i < gridObj.model.dataSource.dataSource.json.length; i++) {
            res = res + ((gridObj.model.dataSource.dataSource.json[i].NDays * 8 + gridObj.model.dataSource.dataSource.json[i].NHours) * gridObj.model.dataSource.dataSource.json[i].NResources * gridObj.model.dataSource.dataSource.json[i].UnitPrice);
        }

        res = Math.round(res * 100) / 100;

        var gridObj2 = $("#GridMargins2").ejGrid("instance")
        for (var i = 0; i < gridObj2.model.dataSource.dataSource.json.length; i++) {
            if (gridObj2.model.dataSource.dataSource.json[i].Id == 2) {
                gridObj2.model.dataSource.dataSource.json[i].Value = res;
                gridObj2.refreshContent();
            }
        }

        return res;
    }
</script>
<script>
    $("#edit-materials").on('click', function () {
        $("#choosed-materials").addClass("ol-hide");
        $("#material-selection-parent #edit-form").removeClass("ol-hide");
    });
    $("#material-select-btn").on('click', function () {
        /* GET SELECTED ROWS FROM TABLE MaterialGrid*/
        var gridObj = $("#MaterialGrid").ejGrid("instance");
        var records = gridObj.getSelectedRecords();

        /* INSERTED ROWS IN TABLE EditMaterial*/
        var editgridObj = $("#EditMaterial").ejGrid("instance");
        for (var i = 0; i < records.length; i++) {
            records[i].Quantity = 1;
            records[i].Total = records[i].Quantity * records[i].PriceNow;
            editgridObj.model.dataSource.dataSource.json.push(records[i]);
        }
        editgridObj.refreshContent();
    });
    $("#material-save-btn").on('click', function () {
        /* GET ROWS FROM TABLE EditMaterial*/
        var editgridObj = $("#EditMaterial").ejGrid("instance");

        /* REPLACE ROWS IN TABLE ChoosedMaterial*/
        var gridObj = $("#ChoosedMaterial").ejGrid("instance");
        gridObj.model.dataSource.dataSource.json = editgridObj.model.dataSource.dataSource.json
        gridObj.refreshContent();

        $("#choosed-materials").removeClass("ol-hide");
        $("#material-selection-parent #edit-form").addClass("ol-hide");
    });


    function materialToAdd(args) {

        if (args.requestType == "save") {
            var gridObj = $("#EditMaterial").ejGrid("instance");

            if (IsNullOrEmpty(gridObj.model.dataSource.dataSource.json)) {
                gridObj.model.dataSource.dataSource.json = [];
            }

            var nr = args.data;
            nr.Total = Number(Number(nr.Quantity) * Number(nr.PriceNow));
            nr.UnitPrice = nr.PriceNow;

            gridObj.model.dataSource.dataSource.json.push(nr);
            gridObj.refreshContent();


            //gridObj.model.dataSource.dataSource.json.push(data)


            //var result = { Value: 0, Vat: 0 };
            //if (args.model.dataSource != null && args.model.dataSource.dataSource != null && args.model.dataSource.dataSource.json != null) {
            //    var arrayTotals = args.model.dataSource.dataSource.json.map(function (i, o) { return { Value: i.TotalValue, Vat: i.VATValue }; });
            //    var result = Formulas.Quote().LinesGrandTotalAndVat(arrayTotals);
            //}
            //$("#bs-SingleSearchForm #TotalValue").val(result.Value.toString());
            //$("#bs-SingleSearchForm #VatTotal").val(result.Vat.toString());
        }
    }

    function calcSummaryChoosedMaterial() {
        var gridObj = $("#ChoosedMaterial").ejGrid("instance")

        var res = 0;
        for (var i = 0; i < gridObj.model.dataSource.dataSource.json.length; i++) {
            res = res + gridObj.model.dataSource.dataSource.json[i].Total;
        }
        //$("#form-cost-unitprice").val(res.toString());
        res = Math.round(res * 100) / 100;
        var gridObj2 = $("#GridMargins2").ejGrid("instance")
        for (var i = 0; i < gridObj2.model.dataSource.dataSource.json.length; i++) {
            if (gridObj2.model.dataSource.dataSource.json[i].Id == 1) {
                gridObj2.model.dataSource.dataSource.json[i].Value = res;
                gridObj2.refreshContent();
            }

        }

        $("#form-cost-materials").val(res.toString()).trigger('change');

        return res;
    }
</script>
<!-- MATERIAL / SPECIFICATIONS -->
<script>

    //Change da checkbox do material/specificationsLinesGrandTotalAndVat
    $(document).on("change", "#filter-mini-tbl", function () {

        if ($(this).prop("checked")) {
            $("#mini-tbl .e-row ").hide();

            $("#mini-tbl .e-row input:checked").each(function (i, o) {
                $(o).parent().parent().parent().parent().show();
            });

        } else {
            $("#mini-tbl .e-row").show();

        }
    });

    //Change da dropdown do material/specifications
    $("#SpecificationTypes_Value").on('change', function () {
        var id = $(this).val();
        if (id == "")
            $("#mini-tbl .e-row").show();
        else {
            $("#mini-tbl .e-row ").hide();
            $("#mini-tbl .e-row.type-material-" + id).show();
        }
    });

    // Add Item Lista Specifications
    $("#material-add-text").enterKey(function () {
        $("#material-add-new").trigger('click');
    });
    // Add Item Lista Specifications
    $("#material-add-new").on('click', function () {
        if ($("#SpecificationTypes_Value").val() == "" || $("#material-add-text").val() == "") {
            Alert.error("Preencha o Parâmetro e o Descritivo");
        } else {

            Loading();
            $.ajax({
                type: "GET",
                url: '/Quote/AddSpecification',
                data: { Id: null, TypeId: $("#SpecificationTypes_Value").val(), Type: $("#SpecificationTypes_Value option:selected").text(), Specification: $("#material-add-text").val() },
                success: function (data) {
                    if (data != null) {
                        $('#mini-tbl tr:last').after(String.format('<tr class="e-row type-material-{0}"><td><input type="checkbox" checked="checked" /></td><td>{1}</td><td>{2}</td></tr>', data.TypeId, data.Type, data.Specification));
                        $('#mini-tbl tr:last input').uniform();
                    }
                    StopLoading();
                },
                error: function (error) {
                    StopLoading();
                }
            });
        }
    });

    //Cancel Lista Specifications
    $("#cancel-material").on('click', function () {
        $("#modal-material").modal("hide");
    });

    //Save Material / Specifications
    $("#save-material").on('click', function () {

        var text = $("#DescriptiveMemory").val();
        if ($("#material-mem-update").prop("checked")) {
            text = "";
        }

        var newline = String.fromCharCode(13, 10);

        if (text.length > 0)
            text += newline;

        $("#tbl-line-material tbody tr").remove();


        $("#mini-tbl .e-row input:checked").each(function (i, o) {
            var text1 = $($(o).parent().parent().parent().parent().find("td")[1]).html();
            var text2 = $($(o).parent().parent().parent().parent().find("td")[2]).html();
            text += text1 + ": " + text2 + newline;

            $("#tbl-line-material").append('<tr class="e-row "  data-id="' + $(o).data("id") + '"  id="line-material-row-id-' + $(o).data("id") + '"><td>' + text1 + '</td><td>' + text2 + '</td> </tr>');
        });

        $("#DescriptiveMemory").val(text);
        $("#modal-material").modal("hide");
    });

    // Show Material /Specifications Popup
    $(document).on('click', "#show-material-popup", function () {
        $("#modal-material").modal("show");
    });


</script>
<!-- LINHAS -->
<script>

    //function closeTooltip() {
    //    window.tooltipItem.$(this).tooltip("hide");
    //    clearTimeout(window.tooltipTimeoutFunc)
    //}

    //$(document).on('click', '.tooltips', function () {

    //    window.tooltipItem = $(this).tooltip("show");

    //    window.tooltipTimeoutFunc=setTimeout(closeTooltip, 3000);

    //});

    function fillLineSpecifications(id, specifications) {

        //Se ja tiver especificacoes na linha, em memoria no cliente, carrego-as
        if (specifications != null && specifications.length > 0) {
            $("#tbl-line-material tbody tr").remove();
            for (var i = 0; i < specifications.length; i++) {
                $("#mini-tbl #spec-row-id-" + specifications[i] + " input").each(function (i, o) {
                    $(o).prop("checked", "checked").uniform();
                });
            }

            $("#mini-tbl .e-row input:checked").each(function (i, o) {
                var text1 = $($(o).parent().parent().parent().parent().find("td")[1]).html();
                var text2 = $($(o).parent().parent().parent().parent().find("td")[2]).html();
                $("#tbl-line-material").append('<tr class="e-row" data-id="' + $(o).data("id") + '" id="line-material-row-id-' + $(o).data("id") + '"><td>' + text1 + '</td><td>' + text2 + '</td> </tr>');
            });

        } else {
            if (!IsNullOrEmpty(id) && id > 0) {
                Loading();
                $.ajax({
                    type: "GET",
                    url: '/Quote/GetLineSpecifications',
                    data: { Id: id },
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $("#tbl-line-material tbody tr").remove();
                            for (var i = 0; i < data.length; i++) {
                                $("#tbl-line-material").append('<tr class="e-row"  data-id="' + data[i].SpecificationId + '"  id="line-material-row-id-' + data[i].SpecificationId + '"><td>' + data[i].Type + '</td><td>' + data[i].Specification + '</td> </tr>');

                                $("#mini-tbl #spec-row-id-" + data[i].SpecificationId + " input").each(function (i, o) {
                                    $(o).prop("checked", "checked").uniform();
                                });
                            }
                        }
                        StopLoading();
                    },
                    error: function (error) {
                        StopLoading();
                    }
                });
            }
        }
    }

    function templateswitch(args) {
        if (args.requestType == "beginedit" || args.requestType == "add") {
            var temp = $.templates(template2)
            var datarow = args.requestType == "add" ? args.data : args.rowData;//get the row data
            $("#FlatGridEditForm").html(temp.render(datarow));

            $(".tooltips").tooltip();
            window.tooltip = false;

            $("#dimensions-qtd-update").prop("checked", "").uniform();
            $("#material-mem-update").prop("checked", "").uniform();
            $("#mini-tbl .e-row").show();
            $("#filter-mini-tbl").prop("checked", "").uniform();
            $("#mini-tbl .e-row input:checked").prop("checked", "").uniform();

            if (args.requestType == "beginedit") {
                //$("#Items_Value").val(args.rowData.ItemId);
                //$("#Units_Value").val(args.rowData.UnitId);
                $("#QtdUnits_Value").val(args.rowData.QtdUnitId);




                $("#tooltip-Discount").attr("data-original-title", String.format("Valor do Desconto: {0}€", args.rowData.DiscountValue));
                $("#edit-form-tbl #DiscountValue").val(args.rowData.DiscountValue);
                $("#edit-form-tbl #DiscountPercentage").data("discount-value", args.rowData.DiscountValue);
                $("#tooltip-Vat").attr("data-original-title", String.format("Valor do IVA: {0}€", args.rowData.VATValue));
                $("#edit-form-tbl #VATId").data("vat-value", args.rowData.VATValue);



                $("#form-dimensions #Units_Value").val(args.rowData.UnitId).selectpicker('refresh');
                $("#form-dimensions #form-dimensions-width").val(args.rowData.Width);
                $("#form-dimensions #form-dimensions-heigth").val(args.rowData.Heigth);
                $("#form-dimensions #form-dimensions-depth").val(args.rowData.Depth);
                $("#form-dimensions #form-dimensions-depth").trigger('change');

                $("#edit-form-tbl #VATId").val(args.rowData.VATId);

                fillLineSpecifications(args.rowData.Id, args.rowData.Specifications);

            }
            if (args.requestType == "add") {
                $("#form-dimensions #Units_Value").val('').selectpicker('refresh');
                $("#form-dimensions #form-dimensions-width").val('');
                $("#form-dimensions #form-dimensions-heigth").val('');
                $("#form-dimensions #form-dimensions-depth").val('');
                $("#form-dimensions #form-dimensions-text").val('');
            }





            $("#InlineEditForm_FlatGrid_Save").val("Confirmar");
            $("#FlatGrid").ejGrid("instance").keyConfigs.saveRequest = "ctrl+13";
            //if ($("#edit-form-tbl #Width").val() != "" || $("#edit-form-tbl #Heigth").val() != "" || $("#edit-form-tbl #Depth").val() != "") {
            //    $("#edit-form-tbl #Dimensions").prop("readonly", "readonly");
            //}

        }

        if (args.requestType == "save") {
            var result = { Value: 0, Vat: 0 };
            if (args.model.dataSource != null && args.model.dataSource.dataSource != null && args.model.dataSource.dataSource.json != null) {
                var arrayTotals = args.model.dataSource.dataSource.json.map(function (i, o) { return { Value: i.TotalValue, Vat: i.VATValue }; });
                var result = Formulas.Quote().LinesGrandTotalAndVat(arrayTotals);
            }
            $("#bs-SingleSearchForm #TotalValue").val(result.Value.toString());
            $("#bs-SingleSearchForm #VatTotal").val(result.Vat.toString());
        }
    }

    function beforeSave(args) {
        if (args.requestType == "save") {
            args.data.UnitId = $("#form-dimensions #Units_Value").val();
            args.data.Unit = $("#form-dimensions #Units_Value option:selected").text();
            args.data.Width = Utils.DecimalToServerFormat($("#form-dimensions #form-dimensions-width").val());
            args.data.Heigth = Utils.DecimalToServerFormat($("#form-dimensions #form-dimensions-heigth").val());
            args.data.Depth = Utils.DecimalToServerFormat($("#form-dimensions #form-dimensions-depth").val());

            args.data.QtdUnitId = $("#edit-form-tbl #QtdUnits_Value").val();
            args.data.QtdUnit = Utils.DecimalToServerFormat($("#edit-form-tbl #QtdUnits_Value option:selected").val());
            args.data.TotalValue = Utils.DecimalToServerFormat($("#edit-form-tbl #TotalValueline").val());
            args.data.UnitPrice = Utils.DecimalToServerFormat($("#edit-form-tbl #UnitPrice").val());

            args.data.VATId = $("#edit-form-tbl #VATId").val();
            args.data.VATValue = $("#edit-form-tbl #VATId").data("vat-value"); //Utils.DecimalToServerFormat($("#edit-form-tbl #VATValue").val());
            args.data.VATCode = $("#edit-form-tbl #VATId option:selected").text();
            args.data.DiscountValue = $("#edit-form-tbl #DiscountPercentage").data("discount-value");// Utils.DecimalToServerFormat($("#edit-form-tbl #DiscountValue").val());
            args.data.DiscountPercentage = Utils.DecimalToServerFormat($("#edit-form-tbl #DiscountPercentage").val());
            if (IsNullOrEmpty(args.data.Id))
                args.data.Id = Math.floor((Math.random() * 1000000) + 1) * -1;

            var specs = new Array();
            $("#tbl-line-material tr.e-row").each(function (i, o) {
                specs.push($(o).data("id"));
            });

            args.data.Specifications = specs;
        }

        $(".tooltip").tooltip("close");
    }

    // ON CHANGE - precoUnitario || Quantidade ->  Calculo do Total da Linha
    $(document).on("change", "#edit-form-tbl #UnitPrice,#edit-form-tbl #Quantity, #edit-form-tbl #DiscountPercentage,#edit-form-tbl #VATId", function () {
        doCalcs();
    });


    function doCalcs() {

        var result = Formulas.Quote().CalcLineValues($("#edit-form-tbl #Quantity").val(), $("#edit-form-tbl #UnitPrice").val(), $("#edit-form-tbl #VATId option:selected").data("rate"), $("#edit-form-tbl #DiscountPercentage").val());


        $("#edit-form-tbl #TotalValueline").val(result.TotalValue.toString());
        $("#tooltip-Discount").attr("data-original-title", String.format("Valor do Desconto: {0}€", result.DiscountValue.toString()));
        $("#edit-form-tbl #DiscountValue").val(result.DiscountValue);
        $("#edit-form-tbl #DiscountPercentage").data("discount-value", result.DiscountValue);


        $("#tooltip-Vat").attr("data-original-title", String.format("Valor do IVA: {0}€", result.VatValue.toString()));
        $("#edit-form-tbl #VATId").data("vat-value", result.VatValue);

        //$("#edit-form-tbl #DiscountValue").val(discountInfo.Value);

        //$("#edit-form-tbl #DiscountValue").val(discountInfo.Value);
        //$("#edit-form-tbl #DiscountValue").val(discountInfo.Value);

        //var discountInfo = Formulas.Quote().CalcLineDiscount($("#edit-form-tbl #DiscountPercentage").val(), $("#edit-form-tbl #DiscountValue").val(), $("#edit-form-tbl #TotalValueline").val(), true);
        //$("#edit-form-tbl #DiscountPercentage").val(discountInfo.Percentage);
        //$("#edit-form-tbl #DiscountValue").val(discountInfo.Value);

        //var vatValue = Formulas.Quote().CalcLineVAT($("#edit-form-tbl #VATId option:selected").data("rate"), $("#edit-form-tbl #DiscountValue").val(), $("#edit-form-tbl #TotalValueline").val());
        //$("#edit-form-tbl #VATValue").val(vatValue);
    }

</script>