﻿@model DocFlow.ViewModels.UserEditModel
@{
    ViewBag.Title = @Language.MENU_ADMIN_USERS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
<!-- BEGIN PAGE LEVEL STYLES -->

<!-- END PAGE LEVEL STYLES -->
}
<div class="page-content">
    <h3 class="page-title">
        <i class="icon-users" style="font-size:28px;"></i> @Language.USER <small> @Language.DETAIL</small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="@Url.Action("Index", "Admin")">@Language.MENU_ADMIN</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-users"></i>
                <a href="#">@Language.USER</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.SearchParamsClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    @if (User.IsInAction("ADM_USR_SEARCH"))
                    {
                    <li>
                        <a href="@Url.Action("Users", "Admin")"> <i class="icon-users"></i> @Language.MENU_ADMIN_USERS </a>
                    </li>
                    }
                    <li>
                        <a href="@Url.Action("Index", "Admin")"> <i class="fa fa-cogs"></i> @Language.ADMIN_ROLES_GOTO_HOME </a>
                    </li>
                    @if (User.IsInAction("ADM_USR_ROLE_SEARCH"))
                    {
                    <li>
                        <a href="@Url.Action("Roles", "Admin")"> <i class="icon-user-following"></i> @Language.MENU_ADMIN_ROLES </a>
                    </li>
                    }@if (User.IsInAction("ADM_USR_NEW"))
                    {
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("New", "Users")"> <i class="fa fa-plus"></i> @Language.ADMIN_USERS_GOTO_NEW_USER </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <div class="clearfix"></div>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users"></i>  @Language.USER
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                        <i class="fa fa-share"></i>
                        <span class="hidden-480">
                            @Language.ACTIONS
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="@Url.Action("Edit", "Users", new { id = @Model.Id })"><i class="fa fa-pencil"></i>  @Language.EDIT </a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Delete", "Users", new { id=@Model.Id})">
                                <i class="fa  fa-trash-o"></i> Eliminar
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="#" id="usersEditForm" class="form-horizontal">
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.NAME</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.LOGIN</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.Username</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.ACTIVE</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            @if (Model.Active)
                                            {
                                            <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                            <i class="fa fa-times"></i>
                                            }
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.VALID</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            @if (Model.Valid)
                                            {
                                            <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                            <i class="fa fa-times"></i>
                                            }
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>*@

                    @*</div>
                    <div class="row">*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.EMAIL</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.Email</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.MENU_ADMIN_ROLES</label>
                                <div class="col-md-9">
                                    <select id="select2_roles" class="form-control select2" multiple>
                                        @foreach (var item in Model.AllRoles)
                                        {
                                        <option value="@item.Id">@item.Name</option>

                                        }

                                    </select>
                                    @foreach (var item in Model.Roles)
                                    {
                                    <input type="hidden" class="pre-sel-rol" data-id="@item.Id" data-name="@item.Name" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Ações
                                    </div>
                                </div>
                                <div class="portlet-body ">
                                    <table class="table dataTable table-bordered table-hover" id="actions_table">
                                        <thead>
                                            <tr>
                                                @*<th>

                                                </th>*@
                                                <th>
                                                    @Language.ADMIN_USERS_ROLE
                                                </th>
                                                <th>
                                                    @Language.NAME
                                                </th>
                                                <th>
                                                    @Language.DESCRIPTION
                                                </th>
                                                <th>
                                                    @Language.ADMIN_USERS_VARIABLES
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var action in Model.ActionGroups.Where(o => !o.ParentId.HasValue))
                                            {
                                            <tr data-id="@action.Id" data-is-parent="1" data-code="@action.Code" class="parent ">

                                                <td>
                                                    @foreach (var role in action.Roles)
                                                    {
                                                    <span class="role-item" data-role-id="@role.Id"> @role.Name </span>
                                                    }
                                                </td>

                                                <td>
                                                    <b> @action.Name</b>
                                                </td>
                                                <td>@action.Description</td>
                                                <td>   &nbsp;</td>
                                            </tr>

                                            foreach (var child in Model.ActionGroups.Where(o => o.ParentId == action.Id))
                                            {
                                            <tr data-id="@child.Id" data-is-parent="0" data-parent-id="@child.ParentId" data-code="@child.Code" class="child child-@child.ParentId">
                                                <td>
                                                    @foreach (var role in child.Roles)
                                                    {
                                                    <span class="role-item" data-role-id="@role.Id"> @role.Name </span>
                                                    }
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @child.Name
                                                </td>
                                                <td>@child.Description</td>

                                                <td>
                                                    @if (child.Variables != null && child.Variables.Any())
                                                    {
                                                    foreach (var role in child.Variables)
                                                    {
                                                    if (role.Selected)
                                                    {
                                                    <span class="ol-tag-display">@role.Name</span>
                                                    }
                                                    }

                                                    }
                                                </td>
                                            </tr>
                                            }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-actions left " style="background-color:#fff;">
                <button type="button" id="btnSaveUser" class="btn purple">Gravar</button>
                <a id="btnCancel" href="@Url.Action("Users", "Admin")" class="btn red-stripe default">Cancelar</a>
                </div>*@
            </form>
        </div>
    </div>
</div>





@section Scripts {

<script src="~/Scripts/Administration/admin.users.details.js"></script>
<script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function () {
        UserDetails.init();
    });

</script>

}
