﻿@model DocFlow.ViewModels.UserEditModel
@{
    ViewBag.Title = Language.MENU_ADMIN_USERS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->

    <!-- END PAGE LEVEL STYLES -->
}
<div class="page-content">
    <h3 class="page-title">
        <i class="icon-users" style="font-size:28px;"></i> @Language.USER <small> @Language.DETAIL</small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="@Url.Action("Index", "Admin")">@Language.MENU_ADMIN</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-users"></i>
                <a href="#">@Language.USER</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.SearchParamsClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="@Url.Action("Index", "Admin")"> <i class="fa fa-cogs"></i> @Language.ADMIN_ROLES_GOTO_HOME </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Users", "Admin")"> <i class="icon-user-following"></i> @Language.ADMIN_ROLES_HEADER </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <div class="clearfix"></div>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users"></i>  @Language.USER
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>

        </div>
        <div class="portlet-body form">
            <form action="#" id="usersEditForm" class="form-horizontal">
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.NAME</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.LOGIN</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.ACTIVE</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.Active)

                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.EMAIL</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", })
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.VALID</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.Valid)
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>*@

                    </div>
                    <div class="row">
                      
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.ACCOUNTS_PASSWORD</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.USERS_PERSONALDATA_CONFIRMPASSWORD</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control", })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">&nbsp;</label>
                                <div class="col-md-9">
                                    &nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.MENU_ADMIN_ROLES</label>
                                <div class="col-md-9">
                                    <select id="select2_roles" class="form-control select2" multiple>
                                        @foreach (var item in Model.AllRoles)
                                        {
                                            <option value="@item.Id">@item.Name</option>

                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="err-msg" style="display:none;">

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        @Language.ACTIONS
                                    </div>
                                </div>
                                <div class="portlet-body ">
                                    <table class="table dataTable table-bordered table-hover" id="actions_table">
                                        <thead>
                                            <tr>
                                                @*<th>

                                                    </th>*@
                                                <th>
                                                    @Language.ADMIN_USERS_ROLE
                                                </th>
                                                <th>
                                                    @Language.NAME
                                                </th>
                                                <th>
                                                    @Language.DESCRIPTION
                                                </th>
                                                <th>
                                                    @Language.ADMIN_USERS_VARIABLES
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var action in Model.ActionGroups.Where(o => !o.ParentId.HasValue))
                                            {
                                                <tr data-id="@action.Id" data-is-parent="1" data-code="@action.Code" style="display:none;" class="parent ">


                                                    @*<td style="width:50px;">
                                                            <span class=" row-details row-details-close"> </span>
                                                        </td>*@

                                                    <td>
                                                        @foreach (var role in action.Roles)
                                                        {
                                                            <span class="role-item" data-role-id="@role.Id"> @role.Name </span>
                                                        }
                                                    </td>

                                                    <td>
                                                        <b> @action.Name</b>
                                                    </td>
                                                    <td>@action.Description</td>
                                                    <td> </td>

                                                </tr>

                                                foreach (var child in Model.ActionGroups.Where(o => o.ParentId == action.Id))
                                                {
                                                    <tr data-id="@child.Id" data-is-parent="0" data-parent-id="@child.ParentId" data-code="@child.Code" style="display:none;" class="child child-@child.ParentId">
                                                        @*<td></td>*@
                                                        <td class="col-md-1">
                                                            @foreach (var role in child.Roles)
                                                            {
                                                                <span class="role-item" data-role-id="@role.Id"> @role.Name </span>
                                                            }
                                                        </td>
                                                        <td class="col-md-5">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @child.Name
                                                        </td>
                                                        <td class="col-md-5">@child.Description</td>

                                                        <td>

                                                            @if (child.Variables != null && child.Variables.Any())
                                                            {
                                                                <select class="form-control  bs-select variables" multiple data-group-id="@child.Id">


                                                                    @foreach (var role in child.Variables)
                                                                    {
                                                                        if (role.Selected)
                                                                        {
                                                                            <option selected value="@role.Id">@role.Name</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@role.Id">@role.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions left " style="background-color:#fff;">
                    <button type="button" id="btnSaveUser" class="btn purple">@Language.SAVE</button>
                    <a id="btnCancel" href="@Url.Action("Users", "Admin")" class="btn red-stripe default">@Language.CANCEL</a>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {

<script>
    Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA = '@Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA';
    Language.ACCOUNTS_MESSAGE_PASSWORD_CONFIRMATION_SET = '@Language.ACCOUNTS_MESSAGE_PASSWORD_CONFIRMATION_SET';
    Language.ACCOUNTS_MESSAGE_PASSWORD_INVALID = '@Language.ACCOUNTS_MESSAGE_PASSWORD_INVALID';
    Language.ACCOUNTS_MESSAGES_PASSWORD_RULES = '@Language.ACCOUNTS_MESSAGES_PASSWORD_RULES';
    Language.ACCOUNTS_MESSAGE_PASSWORDS_DONT_MATCH = '@Language.ACCOUNTS_MESSAGE_PASSWORDS_DONT_MATCH';
</script>
    <script src="~/Scripts/Administration/admin.users.new.js"></script>


    <script>
        jQuery(document).ready(function () {
            UserEdit.init();
        });

    </script>

}
