﻿@model DocFlow.ViewModels.UserDetails
@{
    ViewBag.Title = @Language.FILES_PAGE_TITLE;
}

@section Style
{

}

<div class="page-content">
    <h3 class="page-title">
        <i class="icon-user" style="font-size:28px;"></i> @Language.USERS_PERSONALDATA_PAGE_HEADER <small></small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-user"></i>
                <a href="#">@Language.USERS_PERSONALDATA_PAGE_HEADER</a>
            </li>


        </ul>
       
    </div>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">
                    @Language.USERS_PERSONALDATA_PAGE_HEADER
                </span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" id="edit-data" href="#">
                        <i class="fa fa-pencil"></i>
                        <span>
                            @Language.EDIT
                        </span>

                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="/Profile/SavePersonalData" method="post" class="horizontal-form" id="personal-data" enctype="multipart/form-data">
                <div class="form-body">
                    <br />
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12" style="text-align:center;">
                            @if (Model.Image != null)
                            {
                                <img src="/Profile/Picture" style="width:60%" id="avatar" />    
                            }
                            else
                            {
                                <img src="~/Content/Themes/img/avatar.png" style="width:60%" id="avatar" />
                            }
                            <br />
                            <button type="button" id="changePic" class="btn btn-link ol-hide">@Language.USERS_PERSONALDATA_CHANGEFOTO</button>
                            <input type="file" id="file" name="file" style="display:none;" />
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-8">
                                            <div class="form-group">
                                                <label class="control-label">@Language.NAME</label>

                                                <p class="form-control ol-static ol-show">
                                                    @Html.DisplayFor(m => m.Name)
                                                </p>

                                                <input type="text" id="Name" name="Name" class="form-control ol-hide" value="@Model.Name" placeholder="@Language.NAME">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-8">
                                            <div class="form-group">
                                                <label class="control-label">@Language.LOGIN</label>
                                                <p class="form-control ol-static">
                                                    @Html.DisplayFor(m => m.UserName)
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-8">
                                            <div class="form-group">
                                                <label class="control-label">@Language.EMAIL</label>
                                                <p class="form-control ol-static">
                                                    @Html.DisplayFor(m => m.Email)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">

                                        <button type="button" id="btnPwdChange" class="btn btn-link ol-show">@Language.USERS_PERSONALDATA_CHANGEPASSWORD</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-actions ol-hide">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-6 col-sm-offset-4 col-md-9 col-sm-8">
                                    <button type="button" id="btnSave" class="btn purple"><i class="fa fa-save"></i> @Language.SAVE</button>
                                    <a href="@Url.Action("PersonalData", "Profile")" class="btn default red-flamingo-stripe">@Language.CANCEL</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </form>

            <form action="#" class="horizontal-form" style="display:none;" id="password-change">
                <div class="form-body">
                    <br />

                    <div class="row">
                        <div class="col-xs-offset-3 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="form-group">
                                <div id="help" class="alert alert-info" >@Language.USERS_PERSONALDATA_CHANGEPASSWORD_ALERT</div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">@Language.ACCOUNTS_PASSWORD_CURRENT</label>
                                <input type="password" id="OldPassword" name="OldPassword" class="form-control" placeholder="@Language.ACCOUNTS_PASSWORD_CURRENT">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">@Language.ACCOUNTS_PASSWORD_NEW</label>
                                <input type="password" id="NewPassword" name="NewPassword" class="form-control" placeholder="@Language.ACCOUNTS_PASSWORD_NEW">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">@Language.USERS_PERSONALDATA_CONFIRMPASSWORD</label>
                                <input type="password" id="PasswordConfirm" name="PasswordConfirm" class="form-control " placeholder="@Language.USERS_PERSONALDATA_CONFIRMPASSWORD">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="form-group">
                                <div id="err-msg" style="display:none;"></div>
                                <button type="button" id="btnSavePwd" class="btn purple"><i class="fa fa-save"></i> @Language.USERS_PERSONALDATA_CHANGEPASSWORD</button>
                                <button type="button" id="btnCancelPwd" class="btn default red-flamingo-stripe">@Language.CANCEL</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


@section Scripts {
<script>
    Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA = '@Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA';
    Language.ACCOUNTS_MESSAGE_ALL_FIELDS_REQUIRED = '@Language.ACCOUNTS_MESSAGE_ALL_FIELDS_REQUIRED';
    Language.ACCOUNTS_MESSAGE_PASSWORD_INVALID = '@Language.ACCOUNTS_MESSAGE_PASSWORD_INVALID';
    Language.ACCOUNTS_MESSAGES_NEW_PASSWORD_RULES = '@Language.ACCOUNTS_MESSAGES_NEW_PASSWORD_RULES';
    Language.ACCOUNTS_MESSAGE_PASSWORDS_DONT_MATCH = '@Language.ACCOUNTS_MESSAGE_PASSWORDS_DONT_MATCH';
</script>

    <script src="~/Scripts/Account/profile.edit.js" type="text/javascript"></script>


    <script>
        jQuery(document).ready(function () {

            Profile.init();

        });

    </script>
}
