/***
Error Pages
***/
/* 404 page option #1 */
.page-404 {
    position: absolute;
    text-align: center;
    background-color: #E60000;
    width: 350px;
    height: 350px;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    right:0;
    left:0;
    margin:150px auto 0 auto;
    color: /*#7bbbd6*/ #eee;

}

    .page-404 .number {
        position: relative;
        top: 35px;
        display: block;
        letter-spacing: -10px;
        /*margin-top: 0px;*/
        /*margin-bottom: 10px;*/
        line-height: 256px;
        font-size: 128px;
        font-weight: 300;
        /*border-radius:50%;*/
        vertical-align:middle;
        text-align: center;
        margin:auto;
    }

    .page-404 .details {
        /*margin-left: 40px;*/
        margin-top:200px;
        display: block;
        padding-top: 0px;
        text-align: center;
        color:black;
    }

/* 500 page option #1 */
.page-500 {
    position: absolute;
    text-align: center;
    background-color: #31708F;
    width: 350px;
    height: 350px;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    right:0;
    left:0;
    margin:150px auto 0 auto;
    color: /*#7bbbd6*/ #eee;
}

    .page-500 .number {
        /*display: inline-block;
        letter-spacing: -10px;
        line-height: 128px;
        font-size: 128px;
        font-weight: 300;
        color: #ec8c8c;
        text-align: right;*/
        position: relative;
        top: 35px;
        display: block;
        letter-spacing: -10px;
        /*margin-top: 0px;*/
        /*margin-bottom: 10px;*/
        line-height: 256px;
        font-size: 128px;
        font-weight: 300;
        /*border-radius:50%;*/
        vertical-align:middle;
        text-align: center;
        margin:auto;
    }

    .page-500 .details {
        /*margin-left: 40px;
        display: inline-block;
        text-align: left;*/
        margin-top:200px;
        display: block;
        padding-top: 0px;
        text-align: center;
        color:black;
    }



@media (max-width: 480px) {
    .page-404 .number,
    .page-500 .number,
    .page-404 .details,
    .page-500 .details {
        text-align: center;
        margin-left: 0px;
    }

    .page-404-full-page .page-404 {
        margin-top: 30px;
    }

    .page-404-3 .error-404 {
        text-align: left;
        padding-top: 10px;
    }

    .page-404-3 .page-inner img {
        right: 0;
        bottom: 0;
        z-index: -1;
        position: fixed;
    }
}
