﻿.nobr {
    white-space: nowrap;
}

/* linha de tabela "desactivada" usado 1. em Configuracao > Desvios nos campos inactivos*/
table > tbody > tr.ol-disabled {
    font-style: italic;
    color: #C3C3C3;
}

    table > tbody > tr.ol-disabled a {
        font-style: normal;
        color: #C3C3C3;
    }

/* usado pela 1. vez no tamanho dos campos em edicao nas tabelas de Configuracao > tipos de instalacao*/
.ol-width-125 {
    width: 130px !important;
}

/* Para os Select2 ficarem iguais aos selects normais*/
.select2-arrow {
    border: none !important;
}

.width30 {
    width: 30% !important;
}

.italic {
    font-style: italic !important;
}

/* VDF ELEMENTS */
.bg-vdfRed {
    border-color: #e60000 !important;
    background-image: none !important;
    background-color: #e60000 !important;
    color: #FFFFFF !important;
}

/* STYLE DASHBOARD KPI */
.ol-kpi .visual .desc {
    color: #ffffff !important;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px;
    text-transform: uppercase;
}



.ol-kpi .details {
    text-align: right;
}

    .ol-kpi .details .number {
        color: #ffffff;
        padding-top: 25px;
        text-align: right;
        font-size: 34px;
        line-height: 36px;
        letter-spacing: -1px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .ol-kpi .details .desc {
        text-align: right;
        /*font-size: 16px;*/
        letter-spacing: 0;
        /*font-weight: 300;*/
        color: #ffffff;
        display: inline;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 20px;
        text-transform: uppercase;
    }

.dashboard-stat.ol-kpi .visual i {
    color: #FFFFFF;
    opacity: 0.3;
}
/* END STYLE DASHBOARD KPI */

.navbar-default {
    background-color: transparent !important;
}

/* LANDING PAGE BIG ICONS*/
/*.landing-page-icons {
}*/

.landing-page-icons a {
    color: #e60000;
}

.landing-page-icons .portlet.solid:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.9);
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}


.landing-page-icons .dashboard-stat .visual > i {
    margin-left: 0 !important;
    font-size: 110px;
    line-height: 100px;
}

.landing-page-icons .dashboard-stat .details .number {
    padding-top: 75px !important;
    font-weight: 400 !important;
}

.landing-page-icons .portlet .dashboard-stat:last-child {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}

.landing-page-icons .more {
    height: 20px !important;
}
/* END LANDING PAGE BIG ICONS*/


.inputfordashboard {
    background-color: transparent;
    border: none;
    outline: none;
    border: none;
    border-style: none;
    text-align: right;
}

    .inputfordashboard:focus {
        outline: 0;
    }

.inputdashpicker {
    background-color: transparent;
    border: none;
    width: 110px;
    border-style: none;
    padding: 0 5px;
}

.input-form-control-static {
    background: #fff;
    border: none;
}

.landing-page-icons {
    height: 100px;
}

    .landing-page-icons .page-icon .row {
        background-color: #ededed;
        margin-left: 0;
        margin-right: 0;
        border-top: #ededed;
        border-top-style: solid;
        border-top-width: 10px;
        border-bottom: #ededed;
        border-bottom-style: solid;
        border-bottom-width: 10px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .landing-page-icons .page-icon i {
        color: rgb(248, 0, 0);
        direction: ltr;
        display: inline-block;
        font-family: FontAwesome;
        font-size: 110px;
        font-stretch: normal;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 100px;
        line-height: 100px;
        margin-left: 0;
        margin-top: 1px;
        text-rendering: auto;
        text-shadow: none;
    }

    .landing-page-icons .page-icon .page-icon-text {
        font-weight: 400;
        text-align: right;
        font-size: 34px;
        line-height: 36px;
        letter-spacing: -1px;
        color: #e60000;
        /*margin-top: 60px;
        padding-right: 20px;*/
        position: absolute;
        bottom: 15px;
        right: 20px;
    }

    .landing-page-icons .page-icon .row:hover {
        -moz-box-shadow: 0 0 5px rgba(0,0,0,0.9);
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.9);
        box-shadow: 0 0 5px rgba(0,0,0,0.9);
    }


.in-middle {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.height300 {
    height: 300px;
}

.table tbody tr.active a.btn {
    color: #000;
}

/*LOADING DIV*/
.full-page-loading-div {
    display: none;
    z-index: 1100;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.76);
    z-index: 10100;
    /*opacity: 0.7;
    filter: alpha(opacity=80);*/
}

.image-loading-div {
    position: absolute;
    top: 45%;
    left: 48%;
    margin: -28px 0 0 -25px;
}
/*LOADING DIV*/

/*NOSSO TOOGLES*/
.ol-radio-toogle .btn.active {
    background-color: #8e5fa2 !important;
    color: #fff;
}

    .ol-radio-toogle .btn.active:hover {
        background-color: #7a518c !important;
        color: #fff;
    }

a.ol-logo {
    text-decoration: none;
    position:relative;
}

    a.ol-logo img {
        width: 40px;
        margin-top: 2px !important;
        position: relative;
        /*margin-top: -17px !important;
        margin-left: -10px !important;*/
    }

    a.ol-logo span.open-text {
        color: white;
        font-size: large;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 50px;
        margin: 25%;
    }



.ol-pipe {
    display: inline-block;
    list-style: none;
    font-family: arial;
    padding: 24px 24px 0 24px;
    background-image: linear-gradient(#e60000 1%, #CCCCCC 60%, #e60000 90%, #e60000 70%);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1px 100%;
}


div.ol-menu-tile > div.ol-sub-menu > ul {
    left: 0 !important;
    width: 250px !important;
}

div.ol-menu-tile > button {
    height: 100px;
    background-color: #E60000;
    color: #fff !important;
    border-left: 1px solid #D60606 !important;
    width: 35px;
}

    div.ol-menu-tile > button:hover {
        background-color: #db0000;
        color: #fff !important;
    }

div.ol-menu-tile > div.ol-sub-menu > ul > li > a {
    background-color: #E60000 !important;
    color: #fff !important;
    text-align: left;
    border-bottom: 1px solid #D60606 !important;
    padding: 10px 16px !important;
    font-size: 14px !important;
    line-height: 1.33 !important;
    vertical-align: middle !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
}

    div.ol-menu-tile > div.ol-sub-menu > ul > li > a > i {
        color: #fff !important;
    }

    div.ol-menu-tile > div.ol-sub-menu > ul > li > a:hover {
        background-color: #db0000 !important;
        color: #fff !important;
    }


div.ol-menu-tile > a {
    height: 100px;
    width: 125px;
    background-color: #E60000;
    color: #fff !important;
    padding-top: 17px;
    margin-bottom: 4px !important;
    font-weight: 600;
}

    div.ol-menu-tile > a.single {
        width: 160px;
    }

    div.ol-menu-tile > a:hover {
        height: 100px;
        background-color: #db0000;
        color: #fff !important;
    }

    div.ol-menu-tile > a:first-child > i:first-child {
        font-size: 35pt;
        margin-top: 16px;
        /*margin-left: 8px;*/
    }

    div.ol-menu-tile > a:nth-child(2) {
        background-color: #E60000 !important;
        border-left: 1px solid #D60606 !important;
    }

        div.ol-menu-tile > a:nth-child(2):hover {
            background-color: #db0000 !important;
        }



/*WATER*/
div.water > div.ol-menu-tile > div.ol-sub-menu > ul {
    left: 0 !important;
    width: 300px !important;
}

div.water > div.ol-menu-tile > button {
    height: 100px;
    background-color: #4B77BE;
    color: #fff !important;
    border-left: 1px solid #285aac !important;
}

    div.water > div.ol-menu-tile > button:hover {
        height: 100px;
        background-color: #809FD1;
        color: #fff !important;
    }

div.water > div.ol-menu-tile > div.ol-sub-menu > ul > li > a {
    background-color: #4B77BE !important;
    color: #fff !important;
    text-align: left;
    border-bottom: 1px solid #285aac !important;
    padding: 10px 16px !important;
    font-size: 14px !important;
    line-height: 1.33 !important;
    vertical-align: middle !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
}

    div.water > div.ol-menu-tile > div.ol-sub-menu > ul > li > a > i {
        color: #fff !important;
    }

    div.water > div.ol-menu-tile > div.ol-sub-menu > ul > li > a:hover {
        background-color: #809FD1 !important;
        color: #fff !important;
    }


div.water > div.ol-menu-tile > a {
    height: 100px;
    background-color: #4B77BE;
    color: #fff !important;
    padding-top: 17px;
    margin-bottom: 4px !important;
}

    div.water > div.ol-menu-tile > a:hover {
        height: 100px;
        background-color: #809FD1;
        color: #fff !important;
    }

    div.water > div.ol-menu-tile > a:first-child > i:first-child {
        font-size: 40pt;
        margin-top: 16px;
        margin-left: 8px;
    }

    div.water > div.ol-menu-tile > a:nth-child(2) {
        background-color: #4B77BE !important;
        border-left: 1px solid #285aac !important;
    }

        div.water > div.ol-menu-tile > a:nth-child(2):hover {
            background-color: #809FD1 !important;
        }



.ol-search-body {
    display: none;
}

.ol-hide {
    display: none;
}

.form-control.ol-static {
    padding: 0 !important;
    border: none !important;
}

.form-control.ol-static-90 {
    padding: 0 !important;
    border: none !important;
    width: 90% !important;
}


.portlet.ol-form {
    margin-bottom: 0 !important;
}

    .portlet.ol-form .portlet-title .caption {
        font-family: "Open Sans", sans-serif !important;
        font-weight: 300 !important;
        font-size: 23px !important;
    }

.ol-bold-label {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 23px !important;
}

.ol-template-file .actions p {
    position: absolute !important;
    right: 30px !important;
    bottom: 20px !important;
}

.thumbnail {
    height: 180px !important;
}

.ol-tag-display {
    border: 1px solid #aaa;
    padding: 1px 3px 2px 3px;
}

.fa-percentage:before {
    content: "\%" !important;
}

.fa-kva:before {
    content: "\kVA" !important;
    margin-left: -10px !important;
    font-family: "Open Sans", sans-serif !important;
    font-style: normal !important;
}

div.form-details {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ajs-right {
    z-index: 20000 !important;
}

.modal-footer.left{
    text-align:left !important;
}

.dropdown-menu.open {
        z-index: 10065 !important;
}

