﻿
@{
    ViewBag.Title = @DocFlow.Globalization.Language.ERROR;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/Themes/error.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
}
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-500">
                <div class="number">
                    500
                </div>
                <div class="details">
                    <h1><strong>Oops !</strong></h1>
                    <p>
                        <h4>
                            @DocFlow.Globalization.Language.ERROR_MESSAGE <br />
                        </h4>
                    </p>
                    <p>
                        <a href="javascript:void(0);" class="error-support">
                            @DocFlow.Globalization.Language.ERROR_SEND_SUPPORT_REQUEST
                        </a>
                    </p>
                    <p>
                        <a href="/">
                            <h4>@DocFlow.Globalization.Language.BACK_TO_HOME_LINK</h4>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>


