﻿@{
    ViewBag.Title = Language.ADMIN_PAGE_TITLE;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        <i class="fa fa-cogs" style="font-size:28px;"></i> @Language.MENU_ADMIN <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="@Url.Action("Index", "Admin")">@Language.MENU_ADMIN</a>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.SearchParamsClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    @if (User.IsInAction("ADM_USR_SEARCH"))
                    {
                        <li>
                            <a href="@Url.Action("Users", "Admin")"> <i class="icon-users"></i> @Language.MENU_ADMIN_USERS </a>
                        </li>
                    }
                    @if (User.IsInAction("ADM_USR_ROLE_SEARCH"))
                    {
                        <li>
                            <a href="@Url.Action("Roles", "Admin")"> <i class="icon-user-following"></i> @Language.MENU_ADMIN_ROLES </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="clearfix"></div>
</div>

