﻿@model  List<DocFlow.ViewModels.UserSearchRecord>
@{
    ViewBag.Title = Language.ADMIN_USERS_PAGE_TITLE;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {

}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        <i class="fa fa-cogs" style="font-size:28px;"></i> @Language.MENU_ADMIN <small> @Language.MENU_ADMIN_USERS</small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="@Url.Action("Index", "Admin")">@Language.MENU_ADMIN</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-users"></i>
                <a href="#">@Language.MENU_ADMIN_USERS</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.SearchParamsClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="@Url.Action("Index", "Admin")"> <i class="fa fa-cogs"></i> @Language.ADMIN_ROLES_GOTO_HOME </a>
                    </li>
                    @if (User.IsInAction("ADM_USR_ROLE_SEARCH"))
                    {
                        <li>
                            <a href="@Url.Action("Roles", "Admin")"> <i class="icon-user-following"></i> @Language.MENU_ADMIN_ROLES </a>
                        </li>
                    }
                    @if (User.IsInAction("ADM_USR_NEW"))
                    {
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("New", "Users")"> <i class="fa fa-plus"></i> @Language.ADMIN_USERS_GOTO_NEW_USER </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <div class="clearfix"></div>
    @if (User.IsInAction("ADM_USR_SEARCH"))
    {
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-users"></i>@Language.MENU_ADMIN_USERS
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="users_table">
                    <thead>
                        <tr>

                            <th>
                                @Language.NAME
                            </th>
                            <th>
                                @Language.USERNAME
                            </th>
                            <th>
                                @Language.EMAIL
                            </th>
                            <th>
                                @Language.ACTIVE
                            </th>
                            <th>
                                @Language.VALID
                            </th>
                            <th>
                                @Language.ACTIONS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                    <tr data-id="@item.Id">
                        <td><a href="/Users/Details?id=@item.Id">@item.Name</a></td>
                        <td><a href="/Users/Details?id=@item.Id">@item.Username</a></td>
                        <td>@item.Email</td>
                        <td>
                            @if (item.Active)
                                {
                                <i class="fa fa-check"></i> }
                                else
                                {<i class="fa fa-times"></i>}
                        </td>
                        <td>
                            @if (item.Valid)
                                {
                                <i class="fa fa-check"></i> }
                                else
                                {<i class="fa fa-times"></i>}
                        </td>
                        <td><a href="/Users/Edit?id=@item.Id" class="btn default btn-xs green-haze-stripe"><i class="fa fa-pencil"></i> @Language.EDIT</a></td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/Administration/admin.users.js"></script>
    <script>
        jQuery(document).ready(function () {
            Users.init();
        });
    </script>
}
