﻿@{
    ViewBag.Title = "Kanban";
}

<script id="cardtemplate" type="text/x-jsrender">
    <div class="portlet box blue" style="margin-bottom:0;">
        <div class="portlet-title">
            <div class="caption">
                {{:Title}}
            </div>
            @*<div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                </div>*@
        </div>
        <div class="portlet-body">
            <h4 style="font-weight:400; margin-top:0;">{{:Description}}</h4>
            <div class="row">
                <div class="col-md-6">{{:StatusDesc}}</div>
                <div class="col-md-6" style="text-align:right;">
                    {{:DateDesc}}
                </div>
            </div>

        </div>
    </div>
</script>






<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.EJ().Kanban("KambanTeste")
                .DataSource(ds =>
                    ds.URL(@Url.Action("KambanData"))
                    .CrudURL(Url.Action("CRUD")
                 )
                .Adaptor(AdaptorType.UrlAdaptor))
                .Columns(col =>
                {
                    col.HeaderText("Para Produção").Key("Pending").Add();
                    col.HeaderText("Em Execução").Key("InProgress").Add();
                    col.HeaderText("Em Pausa").Key("Paused").Add();
                    col.HeaderText("Concluído").Key("Done").Add();
                })
                .KeyField("Status")
                .Fields(field =>
                {
                    // field.Title("Title");
                    field.Color("Status")
                    
                    .Content("Description")
                    //.SwimlaneKey("Assignee")
                    .PrimaryKey("Id");
                })
                .AllowDragAndDrop(true)
            .CardSettings(card =>
            {
                card.Template("#cardtemplate");
                //card.ColorMapping(color =>
                //{
                //    color.Add("#cb2027", "Bug,Story")
                //    .Add("#67ab47", "Improvement")
                //    .Add("#fbae19", "Epic");

                //});
            })
            )
        </div>
    </div>
</div>


@*<hr />
    @(Html.EJ().Kanban("Kanban2")
        .DataSource("http://mvc.syncfusion.com/Services/Northwnd.svc/Tasks")
        .Columns(col =>
        {
            col.HeaderText("Backlog").Key("Open").Add();
            col.HeaderText("In Progress").Key("InProgress").Add();
            col.HeaderText("Done").Key("Close").Add();
        })
        .KeyField("Status")
        .Fields(field =>
        {
            field.Color("Type")
                .Content("Summary")
                  .SwimlaneKey("Assignee")
                .PrimaryKey("Id");

        }).FilterSettings(filter =>
        {
            filter.Text("Janet Issues").Query("new ej.Query().where('Assignee', 'equal', 'Janet Leverling')").Description("Displays issues which matches the assignee as 'Janet Leverling").Add();
            filter.Text("In Progress").Query("new ej.Query().where('Status', 'equal', 'InProgress')").Description("Display the issues of 'Testing'").Add();
        })
    )*@
