﻿@model DocFlow.ViewModels.PieceDetails
@{
    ViewBag.Title = "PieceDetails";
}

<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Exemplo <small> </small>
    </h3>
    <style>
        .fill-width {
            width: 100%;
        }

            .fill-width a {
                text-align: left;
            }

            .fill-width.active {
                background-color: #3598dc;
            }

                .fill-width.active a {
                    background-color: #3598dc !important;
                }

                .fill-width.active:hover {
                    background-color: #217ebd;
                }

                    .fill-width.active:hover a {
                        background-color: #217ebd !important;
                    }

                .fill-width.active a :hover {
                    background-color: #217ebd !important;
                }
    </style>


    <div class="row">

        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="/Example/PartCreationDetails">
                        Caracterização <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width ">
                    <a href="/Example/PartCreationSection">
                        Secções <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        @*<div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="#">
                        Especificações <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>*@

        @*<div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="#">
                        Ordens de Fabrico <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>*@

        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="/Example/PartCreationDraw">
                        Desenhos <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width active">
                    <a href="/Example/PartCreationMaterial">
                        Materiais <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>



    </div>



    <div class="row">
        <div class="col-md-12">

            <a href="javascript:;" class="btn btn-default uploadfile pull-right" style="position: absolute;margin-left: 200px;background-color: #ececec;border: none;margin-top: 3px;">
                <i class="fa fa-upload" style="
    position: relative;
"></i> Carregar Ficheiro
            </a>

            @*<a href="javascript:;" class="btn btn-default uploadfile"><i class="fa fa-upload"></i> Carregar Ficheiro</a>*@
            <form id="fileform">
                <input type="file" id="file" name="file" style="display:none;" />
            </form>

            @(Html.EJ().Grid<List<MVC.DomainModel.Parts.MaterialGrid>>("Editing")
        .Datasource(ds => ds.Json((IEnumerable<object>)ViewBag.Datasource).UpdateURL("InlineUpdate").InsertURL("InlineInsert").RemoveURL("InlineDelete").Adaptor(AdaptorType.RemoteSaveAdaptor))
        .EnableAltRow()
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineForm); })
        .AllowPaging()

        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.Update);
                items.AddTool(ToolBarItems.Cancel);
            });
        })
        .Columns(col =>
        {

            col.Field("Name").HeaderText("Nome").IsPrimaryKey(true).AllowEditing(false).Width("20%").Add();
            col.Field("Description").HeaderText("Descrição").Width("20%").Add();
            col.Field("Dimensions").HeaderText("Dimensões").Width("10%").Add();
            col.Field("Section").HeaderText("Secção").EditType(EditingType.Dropdown).Width("10%").Add();
            col.Field("Type").HeaderText("Tipo").EditType(EditingType.Dropdown).Width("5%").Add();
            col.Field("Provider").HeaderText("Fornecedor").EditType(EditingType.Dropdown).Width("10%").Add();
            col.Field("QuantityUnit").HeaderText("Qtd. Un.").EditType(EditingType.Numeric).Width("5%").Add();
            col.Field("QuantityTotal").HeaderText("Qtd. Total").EditType(EditingType.Numeric).Width("5%").Add();
            col.Field("QuantityConsumed").HeaderText("Qtd Consumido").EditType(EditingType.Numeric).Width("5%").Add();
        })
            )
        </div>
    </div>
</div>


<script>
    $(".uploadfile").on('click', function () {
        $("#file").trigger('click');
    })

    $("#file").on('change', function () {
        Alert.success("Ficheiro carregado com sucesso");
    });

</script>