﻿@model DocFlow.ViewModels.PieceDetails
@{
    ViewBag.Title = "PieceDetails";
}

<div class="page-content">
    <h3 class="page-title">
        <i class="fa fa-book" style="font-size:28px;"></i> Exemplo <small> </small>
    </h3>
    <style>
        .fill-width {
            width: 100%;
        }

            .fill-width a {
                text-align: left;
            }

            .fill-width.active {
                background-color: #3598dc;
            }

                .fill-width.active a {
                    background-color: #3598dc !important;
                }

                .fill-width.active:hover {
                    background-color: #217ebd;
                }

                    .fill-width.active:hover a {
                        background-color: #217ebd !important;
                    }

                .fill-width.active a :hover {
                    background-color: #217ebd !important;
                }
    </style>


    <div class="row">

        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width ">
                    <a href="/Example/PartCreationDetails">
                        Caracterização <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width ">
                    <a href="/Example/PartCreationSection">
                        Secções <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        @*<div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="#">
                        Especificações <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-2">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="#">
                        Ordens de Fabrico <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>*@

        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width active">
                    <a href="/Example/PartCreationDraw">
                        Desenhos <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="btn btn-default fill-width">
                    <a href="/Example/PartCreationMaterial">
                        Materiais <span class="badge1 pull-right">
                            >
                        </span>
                    </a>
                </li>
            </ul>
        </div>



    </div>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group ">
                    <label class="control-label">Desenho</label>
                    @Html.EJ().Uploadbox("UploadInput").ClientSideEvents(e => e.Error("onError").Success("onSucess")).SaveUrl(@Url.Action("Save")).RemoveUrl(@Url.Action("Remove")).MultipleFilesSelection(true)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="thumbs">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function onError(args) {
            alert(args.error);
        }
        function onSucess(args) {
            $("#thumbs").replaceWith("<div id='thumbs'>" + args.responseText + "</div>");
            ej.widget.init();
            $('#thumbSectionGrid').ejGrid('instance').refreshContent();
        }
    </script>
}
