﻿@{
    ViewBag.Title = "Kanban";
}



<div class="page-content">
    @(Html.EJ().Kanban("Kanban")
    .DataSource((IEnumerable<object>)ViewBag.Datasource)
    .Columns(col =>
    {
        col.HeaderText("Obras da Semana").Key("Open").Add();
        col.HeaderText("Segunda").Key("seg").Add();
        col.HeaderText("Terça").Key("ter").Add();
        col.HeaderText("Quarta").Key("qua").Add();
        col.HeaderText("Quinta").Key("qui").Add();
        col.HeaderText("Sexta").Key("sex").Add();

    })
    .AllowTitle(true)
    .AllowSelection(false)
    .KeyField("Column")
    .SwimlaneSettings(swimSettings =>
    {
        swimSettings.AllowDragAndDrop(true);
    })
    .Fields(field =>
    {
        field.Color("Color")
            .Title("Title")
            .Content("Description")
            .ImageUrl("ImgUrl")
            .PrimaryKey("Id")
            .SwimlaneKey("Row");
    })
    .ClientSideEvents(eve =>
    {
        eve.CardDrop("cardDrop");
    })
    )
</div>
@section Scripts{
    <script type="text/javascript">
        function evtpropscheckedevent(args) {
            var kanbanObj = $("#Kanban").data("ejKanban");
            if (args.isChecked && kanbanObj != undefined) {
                switch (args.value) {
                    case "cardDrop":
                        kanbanObj.option(args.value, "cardDrop");
                        break;
                }
            } else kanbanObj.option(args.value, '');
        }
        function cardDrop(args) {
            $.ajax({
                type: "POST",
                url: "/Swimlane/ChangeLane",
                data: args.data[0]
            });
        }
    </script>
}