﻿@model DocFlow.ViewModels.ConfigTranslationsViewModel
@{
    ViewBag.Title = @Language.MENU_CONFIG_TRANSLATION;
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@section Style {

    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />

    <style>
        .tlbImg {
            padding-bottom: 2px;
        }
    </style>
}

<div class="page-content" style="min-height:876px">
    <!-- BEGIN PAGE HEADER-->

    <h3 class="page-title">
        <i class="fa fa-sliders" style="font-size:28px;"></i> @Language.CONFIGURATION <small> @Language.MENU_CONFIG_TRANSLATION</small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-sliders"></i>
                <a href="@Url.Action("Index", "Configuration")">@Language.CONFIGURATION</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-language"></i>
                <a href="#">@Language.MENU_CONFIG_TRANSLATION</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Core.Extensions.SessionManager.GetActiveServiceClass() dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    @if (User.IsInAnyAction("CFG_YEAR_VIEW", "CFG_SAP_VIEW", "CFG_ACCOUNTING_VIEW", "CFG_TAXES_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("FiscalAccounting", "Configuration")"> <i class="fa fa-eur"></i> @Language.MENU_CONFIG_BILLINGANDACCOUNTING </a>
                        </li>
                    }
                    @if (User.IsInAnyAction("CFG_LINES_VIEW", "CFG_POWERS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Contracts", "Configuration")"> <i class="fa fa-book"></i> @Language.CONTRACTS </a>
                        </li>
                    }
                    @if (User.IsInAnyAction("CFG_PROVIDERS_VIEW", "CFG_CODES_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Locals", "Configuration")"> <i class="fa fa-building-o"></i> @Language.LOCALS </a>
                        </li>
                    }
                    @if (User.IsInAnyAction("CFG_TOPS_VIEW", "CFG_DEVIATIONS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Analysis", "Configuration")"> <i class="fa fa-cube"></i> @Language.ANALYSIS </a>
                        </li>
                    }
                    @*@if (User.IsInAction("CFG_REPORTS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Reports", "Configuration")"> <i class="fa fa-bar-chart-o"></i> @Language.MENU_REPORTS </a>
                        </li>
                    }*@
                </ul>
            </div>
        </div>
    </div>

    <div id="pnl-global" class="pnl">

        <!-- Operadores -->
        <div id="pnl-languages" class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@Language.LANGUAGES
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
                <div class="actions">

                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-share"></i> @Language.ACTIONS
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                           
                            <li>
                                <a href="/Translate/Export" >
                                    <i class="fa fa-pencil"></i> @Language.EXPORT
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">

                <form action="#" class="form-horizontal">
                    @if (User.IsInAction("CFG_TRANSLATIONS_EDIT"))
                    {
                        <div id="modal-languages" class="modal fade" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>@Language.LANGUAGE</h4>
                                                <p>
                                                    @*<input type="text" class="col-md-12 form-control" id="languages-name">*@
                                                    <select class="bs-select form-control" data-show-subtext="true" id="languages-select">
                                                        @foreach (var item in Model.Languages)
                                                        {
                                                        <option data-id="@item.Id" data-content="<span><img class='flag' src='../../assets/global/img/flags/@item.Image' alt='' />&nbsp;&nbsp;@item.Name "> </option>
                                                        }
                                                    </select>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn default">@Language.CANCEL</button>
                                        <button type="button" class="btn purple" id="btn-languages-submit" data-id="">@Language.SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <input type="hidden" id="default-language" data-id="@Model.DefaultLanguage.Id" data-flag="@Model.DefaultLanguage.Image" />
                    <input type="hidden" id="canEdit" data-id="@User.IsInAction("CFG_TRANSLATIONS_EDIT")" />


                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-8">
                                <table class="table table-striped table-bordered table-hover" id="languages">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Language.LANGUAGE
                                            </th>
                                            <th>
                                                @if (User.IsInAction("CFG_TRANSLATIONS_EDIT"))
                                                {
                                                    <a data-toggle="modal" href="#modal-languages" class="btn default btn-xs red-flamingo-stripe new">  <i class="fa fa-plus"></i>@Language.ADD </a>
                                                }
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DocFlow.ViewModels.Language lang in Model.AppLanguages)
                                        {
                                        <tr>
                                            <td>
                                                <img class="flag" src="../../assets/global/img/flags/@lang.Image" alt="">
                                                @lang.Name
                                            </td>
                                            <td>
                                                @if (User.IsInAction("CFG_TRANSLATIONS_EDIT"))
                                                {
                                                    if (!lang.Default)
                                                    {
                                                        <a href="#" class="btn default btn-xs red-flamingo-stripe delete" data-id="@lang.Id"> &nbsp; <i class="fa fa-trash"></i>@Language.REMOVE </a>
                                                        <a href="#" class="btn default btn-xs red-flamingo-stripe translate" data-id="@lang.Id"> &nbsp; <i class="fa fa-globe"></i>@Language.TRANSLATE </a>
                                                    }
                                                   
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div id="pnl-translations">

        </div>

    </div>
</div>
@if (User.IsInAction("CFG_TRANSLATIONS_EDIT"))
{
    <div id="modal-translations-2" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <h4><img class='flag tlbImg' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' />&nbsp;&nbsp;@Language.CONFIG_TRANSLATION_NAME_ORIGINAL</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" readonly id="translarions-name-2-default">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h4><img class='flag tlbImg' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' />&nbsp;&nbsp;@Language.CONFIG_TRANSLATION_DESCRIPTION_ORIGINAL</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" readonly id="translarions-desc-2-default">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4> <img class='flag tlbImg currentLanguage' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' /> &nbsp;&nbsp;@Language.CONFIG_TRANSLATION_NAME_TRANSLATION</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" id="translarions-name-2-translated">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h4><img class='flag tlbImg currentLanguage' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' /> &nbsp;&nbsp;@Language.CONFIG_TRANSLATION_DESCRIPTION_TRANSLATION</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" id="translarions-desc-2-translated">
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">@Language.CANCEL</button>
                    <button type="button" class="btn purple" id="btn-translations-2-submit" data-id="">@Language.SAVE</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-translations-1" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <h4><img class='flag tlbImg' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' />&nbsp;&nbsp;@Language.CONFIG_TRANSLATION_NAME_ORIGINAL</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" readonly id="translarions-name-1-default">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h4><img class='flag tlbImg currentLanguage' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' /> &nbsp;&nbsp;@Language.CONFIG_TRANSLATION </h4>
                            <p>
                                <input type="text" class="col-md-12 form-control" id="translarions-name-1-translated">
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">@Language.CANCEL</button>
                    <button type="button" class="btn purple" id="btn-translations-1-submit" data-id="">@Language.SAVE</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-periodpicker.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt.js"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/icheck/icheck.min.js"></script>
    <script>
        Language.EXPORT_EXCEL = '@Language.EXPORT_EXCEL';
        Language.EXPORT_PDF = '@Language.EXPORT_PDF';
        Language.PRINT = '@Language.PRINT';
        Language.EDIT = '@Language.EDIT';
        Language.REMOVE = '@Language.REMOVE';
        Language.TRANSLATE = '@Language.TRANSLATE';
    </script>
    @*<script src="~/Scripts/Configuration/config.translations.js" type="text/javascript"></script>*@
    <script src="~/Scripts/Translate/translate.js"></script>
    <script>
        jQuery(document).ready(function () {
            //Config.init();
            Translate.init();
        });
    </script>
}
