﻿@model List<DocFlow.Core.Objects.ChartWrapper>


@if (Model != null && Model.Any())
{
    <div class="row row-charts">
        @foreach (DocFlow.Core.Objects.ChartWrapper wrapper in Model)
        {
            <div class="col-lg-6 col-md-12 col-sm-12">
                @{Html.RenderPartial("~/Views/Home/Partials/Chart.cshtml", wrapper); }

            </div>
                    }
    </div>
                    }
