﻿@{
    ViewBag.Title = @Language.CONFIGURATION;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content" style="min-height:876px">
    <h3 class="page-title">
        <i class="fa fa-sliders" style="font-size:28px;"></i> @Language.CONFIGURATION <small> </small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-sliders"></i>
                <a href="#">@Language.CONFIGURATION</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Extensions.SessionManager.GetActiveServiceClass() dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    @*@if (User.IsInAnyAction("CFG_YEAR_VIEW", "CFG_SAP_VIEW", "CFG_ACCOUNTING_VIEW", "CFG_TAXES_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("FiscalAccounting", "Configuration")"> <i class="fa fa-eur"></i> @Language.MENU_CONFIG_BILLINGANDACCOUNTING </a>
                        </li>
                    }
                    @if (User.IsInAnyAction("CFG_LINES_VIEW", "CFG_POWERS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Contracts", "Configuration")"> <i class="fa fa-book"></i> @Language.CONTRACTS </a>
                        </li>
                    }
                    @if (User.IsInAnyAction("CFG_PROVIDERS_VIEW", "CFG_CODES_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Locals", "Configuration")"> <i class="fa fa-building-o"></i> @Language.LOCALS </a>
                        </li>
                    }
                    @if (User.IsInAnyAction("CFG_TOPS_VIEW", "CFG_DEVIATIONS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Analysis", "Configuration")"> <i class="fa fa-cube"></i> @Language.ANALYSIS </a>
                        </li>
                    }
                    @if (User.IsInAction("CFG_TRANSLATIONS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Translations", "Configuration")"> <i class="fa fa-language"></i> @Language.MENU_CONFIG_TRANSLATION </a>
                        </li>
                    }*@
                    @*@if (User.IsInAction("CFG_REPORTS_VIEW"))
                    {
                        <li>
                            <a href="@Url.Action("Reports", "Configuration")"> <i class="fa fa-bar-chart-o"></i> @Language.MENU_REPORTS </a>
                        </li>
                    }*@
                </ul>
            </div>
        </div>
    </div>

    <div id="pnl-global" class="pnl">

    </div>

</div>

@section Scripts {


}