﻿@model DocFlow.ViewModels.Translate.TranslateTableDoubleColModel
<div class="row">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-globe font-green"></i> @Model.Name
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">

                    @*<label class="col-md-2 control-label"></label>*@
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" id="@Model.IdTable">
                            <thead>
                                <tr>
                                    <th>
                                        <img class='flag tlbImg' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' /> @Model.ColName
                                    </th>
                                    <th>
                                        <img class='flag tlbImg' src='/assets/global/img/flags/@Model.TranslateLanguage.Image' alt='' /> @Model.ColName
                                    </th>
                                    <th>
                                        <img class='flag tlbImg' src='/assets/global/img/flags/@Model.DefaultLanguage.Image' alt='' /> @Model.ColDesc
                                    </th>
                                    <th>
                                        <img class='flag tlbImg' src='/assets/global/img/flags/@Model.TranslateLanguage.Image' alt='' /> @Model.ColDesc
                                    </th>
                                    @if (User.IsInAction("CFG_TRANSLATIONS_EDIT"))
                                    {
                                    <th>

                                    </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TranslatedList != null && Model.TranslatedList.Any())
                                {
                                    foreach (DocFlow.ViewModels.ConfigTranslation translate in Model.TranslatedList)
                                    {
                                        <tr class="@(translate.IsTranslated?"" : "has-error")">
                                            <td>@translate.Name</td>
                                            <td>@translate.TranslatedName</td>
                                            <td>@translate.Description</td>
                                            <td>@translate.TranslatedDescription</td>
                                            @if (User.IsInAction("CFG_TRANSLATIONS_EDIT"))
                                            {
                                                <td><a data-toggle="modal" data-type="2" data-action="@Model.SavePath" href="#modal-translations-2" class="btn default btn-xs red-flamingo-stripe edit" data-id="@translate.EntityId ">  <i class="fa fa-pencil"></i> @Language.EDIT </a></td>
                                            }
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

