﻿@model DocFlow.ViewModels.Language
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i> @Language.CONFIG_TRANSLATION
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- Actions -->
            @{Html.RenderAction("GetActionsTranslations", "Translate", new { langId = Model.Id });}

            <!-- BillingPeriodicities -->
            @{Html.RenderAction("GetBillingPeriodicitiesTranslations", "Translate", new { langId = Model.Id });}

            <!-- BillingTypes -->
            @{Html.RenderAction("GetBillingTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- CapacityLevelValues -->
            @{Html.RenderAction("GetCapacityLevelValuesTranslations", "Translate", new { langId = Model.Id });}

            <!-- CapacityTypes -->
            @{Html.RenderAction("GetCapacityTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Codes -->
            @{Html.RenderAction("GetCodesTranslations", "Translate", new { langId = Model.Id });}

            <!-- DocumentStates -->
            @{Html.RenderAction("GetDocumentStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- FilePaymentStates -->
            @{Html.RenderAction("GetFilePaymentStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- HourlyCycles -->
            @{Html.RenderAction("GetHourlyCyclesTranslations", "Translate", new { langId = Model.Id });}

            <!-- HourlyPeriods -->
            @{Html.RenderAction("GetHourlyPeriodsTranslations", "Translate", new { langId = Model.Id });}

            <!-- InconsistencyTypes -->
            @{Html.RenderAction("GetInconsistencyTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- InstalledSystems -->
            @{Html.RenderAction("GetInstalledSystemsTranslations", "Translate", new { langId = Model.Id });}

            <!-- LocalContractStates -->
            @{Html.RenderAction("GetLocalContractStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- LocalContractTypes -->
            @{Html.RenderAction("GetLocalContractTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- LocalZones -->
            @{Html.RenderAction("GetLocalZonesTranslations", "Translate", new { langId = Model.Id });}

            <!-- MeterTypes -->
            @{Html.RenderAction("GetMeterTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- NewMeterStates -->
            @{Html.RenderAction("GetNewMeterStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- NewRuleCategories -->
            @{Html.RenderAction("GetNewRuleCategoriesTranslations", "Translate", new { langId = Model.Id });}

            <!-- NewRuleTypes -->
            @{Html.RenderAction("GetNewRuleTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- ProviderTypes -->
            @{Html.RenderAction("GetProviderTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- ReadingFileStates -->
            @{Html.RenderAction("GetReadingFileStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- ReadingRecordStates -->
            @{Html.RenderAction("GetReadingRecordStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- ReadingSources -->
            @{Html.RenderAction("GetReadingSourcesTranslations", "Translate", new { langId = Model.Id });}

            <!-- ResolutionTypes -->
            @{Html.RenderAction("GetResolutionTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Services -->
            @{Html.RenderAction("GetServiceTranslations", "Translate", new { langId = Model.Id });}

            <!-- ActionGroups -->
            @{Html.RenderAction("GetActionGroupTranslations", "Translate", new { langId = Model.Id });}

            <!-- LocalsGroups -->
            @{Html.RenderAction("GetLocalGroupsTranslations", "Translate", new { langId = Model.Id });}

            <!-- roles -->
            @{Html.RenderAction("GetRolesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Connection Types -->
            @if (DocFlow.Core.Extensions.SessionManager.GetActiveService() == DocFlow.Enums.Services.Energy)
            {
                Html.RenderAction("GetConnectionTypesTranslations", "Translate", new { langId = Model.Id });
            }

            <!-- Classification types -->
            @{Html.RenderAction("GetClassificationTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Classifications -->
            @{Html.RenderAction("GetClassificationsTranslations", "Translate", new { langId = Model.Id });}

            <!-- Document types-->
            @{Html.RenderAction("GetDocumentTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Installation types -->
            @{Html.RenderAction("GetLocalTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- local States -->
            @{Html.RenderAction("GetLocalStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Localization states -->
            @{Html.RenderAction("GetLocalizationTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- File States -->
            @{Html.RenderAction("GetFileStatesTranslations", "Translate", new { langId = Model.Id });}

            <!-- SupplyTypes -->
            @if (DocFlow.Core.Extensions.SessionManager.GetActiveService() == DocFlow.Enums.Services.Energy)
            {
                Html.RenderAction("GetEnergySupplyTypesTranslations", "Translate", new { langId = Model.Id });
            }
            <!-- Energy Sources -->
            @if (DocFlow.Core.Extensions.SessionManager.GetActiveService() == DocFlow.Enums.Services.Energy)
            {
                Html.RenderAction("GetEnergySourcesTranslations", "Translate", new { langId = Model.Id });
            }
            <!-- Production Types -->
            @if (DocFlow.Core.Extensions.SessionManager.GetActiveService() == DocFlow.Enums.Services.Energy)
            {
                Html.RenderAction("GetEnergyProductionTypesTranslations", "Translate", new { langId = Model.Id });
            }
            <!-- VATClasses-->
            @{Html.RenderAction("GetVatTypeTranslations", "Translate", new { langId = Model.Id });}

            <!-- ValidationTypes -->
            @{Html.RenderAction("GetValidationTypesTranslations", "Translate", new { langId = Model.Id });}

            <!-- Menus -->
            @{Html.RenderAction("GetMenuTranslations", "Translate", new { langId = Model.Id });}

            @Html.HiddenFor(a => a.Image, new { @id = "flagImage" })

        </div>
    </div>
</div>
