﻿@model DocFlow.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = Language.LOGIN;
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">@Language.ACCOUNTS_FORGOT_PASSWORD_TITLE</h3>

            <div class="forget-password">
                <h4>@Language.ACCOUNTS_FORGOT_PASSWORD_ASK_EMAIL</h4>

            </div>

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="input-icon">
                    <i class="fa fa-at"></i>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = @Html.DisplayNameFor(m => m.Email), @name = "email", @autocomplete = "off" })
                </div>
            </div>

            <div class="form-actions" id="append-div">
                <a href="@Url.Action("Login", "Account")" id="forget-password" style="color:#fff;font-size:11pt;">

                    <i class="m-icon-swapleft m-icon-white"></i>
                    @Language.BACK

                </a>
                <button type="submit" class="btn blue-steel pull-right">
                    @Language.RESET <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>



            <div class="form-group" id="err-msg" style="display:none">

            </div>
        }
        <!-- END LOGIN FORM -->
    </div>
</div>
@section Scripts {
    <script>
        Language = new Object();
        Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA = '@Language.ACCOUNTS_RESET_PASSWORD_ERRORDATA';
        Language.ACCOUNTS_MESSAGES_EMAIL_INSERT = '@Language.ACCOUNTS_MESSAGES_EMAIL_INSERT';
        Language.ACCOUNTS_MESSAGES_EMAIL_INVALID = '@Language.ACCOUNTS_MESSAGES_EMAIL_INVALID';
</script>

<script src="~/Scripts/Account/forgotpassword.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
        jQuery(document).ready(function () {
            ForgotPassword.init();
        });
</script>
}

