﻿@model DocFlow.ViewModels.LoginViewModel
@{
    ViewBag.Title = Language.LOGIN;
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">@Language.LOGIN</h3>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>
                            @Language.ACCOUNTS_LOGIN_ALERT_USERNAME_PASSWORD
                        </span>
                    </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = @Html.DisplayNameFor(m => m.Email), @name = "email", @autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">@Language.ACCOUNTS_PASSWORD</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = @Html.DisplayNameFor(m => m.Password), @name = "password", @autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-actions" id="append-div">
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe) @Language.ACCOUNTS_REMEMBER_ME
                            @*<input type="checkbox" name="remember" value="1" id="remember" />*@
                        </label>
                        <button type="submit" class="btn blue-steel pull-right">
                            @Language.LOGIN <i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </div>
            if (!ViewContext.ViewData.ModelState.IsValid)
            {
                <div class="form-group" id="err-msg">
                    <div class="alert alert-danger">
                        @*<button type="button" class="close" data-dismiss="alert"></button>*@
                        <strong>@Language.ACCOUNTS_LOGIN_FAIL_AUTHENTICATION</strong><p></p>@Language.ACCOUNTS_LOGIN_CHECK_DATA
                    </div>
                </div>
            }

            <div class="forget-password">
                <h4>@Language.ACCOUNTS_FORGOT_PASSWORD_TITLE</h4>

                <a href="@Url.Action("ForgotPassword", "Account")" id="forget-password" style="color:#fff">

                    @Language.ACCOUNTS_LOGIN_PASSWORD_RECOVERY

                </a>

            </div>
        }
        <!-- END LOGIN FORM -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3>@Language.ACCOUNTS_FORGOT_PASSWORD_TITLE</h3>
            <p>
                @Language.ACCOUNTS_FORGOT_PASSWORD_ASK_EMAIL
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i> @Language.BACK
                </button>
                <button type="submit" class="btn blue-steel pull-right">
                    @Language.SUBMIT <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
</div>
@section Scripts{
<script src="~/Scripts/Account/login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
        jQuery(document).ready(function () {
            Login.init();
        });
</script>    
}