﻿@model  List<DocFlow.ViewModels.Dashboard.DashboardNotificationModel>

@if (User.IsInAction("DASH_NOTIF_PROC"))
{
    <div class="portlet light ">
        <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
                <span class="caption-subject font-blue bold uppercase"> @( ViewBag.Title != null ?  ViewBag.Title :Globalization.Language.ALERTS)</span>
            </div>
            @*<div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default btn-circle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            @Language.FILTER <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                            <label><input type="checkbox" checked="" id="danger" /> @Language.ERRORS</label>
                            <label><input type="checkbox" checked="" id="warning" /> @Language.ALERTS</label>
                            <label><input type="checkbox" checked="" id="info" /> @Language.WARNINGS</label>
                        </div>
                    </div>
                </div>*@

        </div>
        <div class="portlet-body">
            <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                <ul class="feeds" id="ulprocessing">

                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {

                            <li @*id="@item.Identifier"*@>
                                <a href="@item.GoToLink" target="_blank">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm @item.Color">
                                                    <i class="fa  @item.Icon"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    @item.Description
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}