﻿@model  List<DocFlow.ViewModels.Dashboard.DashboardNotificationModel>


@if (User.IsInAction("DASH_NOTIF_ANLYS"))
{
    <div class="portlet light ">
        <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
                <span class="caption-subject font-blue bold uppercase">@Language.ANALYSIS</span>
            </div>

            <div class="actions" id="mydatepicker" style="display:none;">
                @*<div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:;" class="grey-salt input-group dropdown-toggle date date-picker " style="color:#777;" data-toggle="dropdown" aria-expanded="false" id="myPeriod" data-placement="top" data-date="moment().format('MM yyyy')" data-date-format="MM yyyy" data-date-viewmode="months" data-date-minviewmode="months">
                                <div class="add-on">
                                    <input class="inputfordashboard" id="teste" readonly type="text" />&nbsp;&nbsp;
                                    <i class="icon-calendar"></i>&nbsp;
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>*@

                <div class="input-group input-medium date date-picker  pull-right" id="myPeriod" data-date-format="MM yyyy" data-date-viewmode="months" style="width:170px !important;">
                    <input type="text" class="form-control " readonly style="background-color:#fff; border-color:#fff; color:#777; cursor:pointer;">
                    <span class="input-group-btn">
                        <button class="btn default" type="button" style="background-color:#fff; border-color:#fff; color:#777"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>

            </div>

        </div>
        <div class="portlet-body">
            <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                <ul class="feeds" id="ulanalysis">

                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {

                            <li @*id="@item.Identifier"*@>
                                <a href="@item.GoToLink" target="_blank">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm @item.Color">
                                                    <i class="fa  @item.Icon"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    @item.Description
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}