﻿@model DocFlow.ViewModels.MenuViewModel

<div class="row">
    <div class="col-md-12 @Model.CssClass">

        @if (Model != null && Model.Menus != null)
        {
            foreach (var menu in Model.Parents)
            {
                <div class="btn-group ol-menu-tile">


                    @if (Model.HasChildren(menu.Id))
                    {
                        <a href='@menu.Url' class="btn nav-bar-menu-button">
                            <i class="@menu.CssClass"></i><br>@menu.Text
                        </a>
                        @* Tem sub menus*@
                        <button type="button" class="btn  dropdown-toggle" aria-expanded="false">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <div class="ol-sub-menu">
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var submenu in Model.GetChildren(menu.Id))
                                {
                                    <li>
                                        <a class="btn  btn-lg  btn-block nav-bar-menu-button" href="@submenu.Url"><i class="@submenu.CssClass"></i>@submenu.Text</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href='@menu.Url' class="btn single nav-bar-menu-button">
                            <i class="@menu.CssClass"></i><br>@menu.Text
                        </a>
                    }
                </div>
            }
        }
    </div>
</div>