﻿@model DocFlow.ViewModels.UserProfileEditModel
@{
    ViewBag.Title = @Language.ADMIN_ROLES_PAGE_TITLE;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />

    <!-- END PAGE LEVEL STYLES -->
}
<div class="page-content">
    <h3 class="page-title">
        <i class="icon-user-following" style="font-size:28px;"></i> @Language.ADMIN_ROLES_HEADER <small> @Language.EDITION</small>
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">@Language.HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="@Url.Action("Index", "Admin")">@Language.MENU_ADMIN</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="icon-user-following"></i>
                <a href="#">@Language.ADMIN_ROLES_HEADER</a>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height @Css.SearchParamsClass dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    @Language.GOTO <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="@Url.Action("Index", "Admin")"> <i class="fa fa-cogs"></i> @Language.ADMIN_ROLES_GOTO_HOME </a>
                    </li>
                    @if (User.IsInAction("ADM_USR_SEARCH"))
                    {
                        <li>
                            <a href="@Url.Action("Users", "Admin")"> <i class="icon-users"></i> @Language.MENU_ADMIN_USERS </a>
                        </li>
                    }
                    @if (User.IsInAction("ADM_USR_ROLE_NEW"))
                    {
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("New", "Roles")"> <i class="fa fa-plus"></i> @Language.ADMIN_ROLES_GOTO_NEW_ROLE </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user-following"></i>   @Language.ADMIN_USERS_ROLE
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="#" id="rolesEditForm" class="form-horizontal">
                <div class="form-body">
                    <br />
                    <input type="hidden" name="RoleId" id="RoleId" value="@Model.Id" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.NAME</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.DESCRIPTION</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Language.ACTIVE</label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.Active)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        @Language.ACTIONS
                                    </div>
                                </div>
                                <div class="portlet-body ">

                                    <table class="table dataTable table-bordered table-hover" id="actions_table">
                                        <thead>
                                            <tr>
                                                <th>

                                                </th>
                                                <th>
                                                    @Language.NAME
                                                </th>
                                                <th>
                                                    @Language.DESCRIPTION
                                                </th>
                                                <th>
                                                    @Language.PERMISSION
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var action in Model.ActionsGroups.Where(o => !o.ParentId.HasValue))
                                            {
                                                <tr data-id="@action.Id" data-is-parent="1" data-code="@action.Code" class="parent ">
                                                    <td style="width:50px;">
                                                        <span class=" row-details row-details-close"> </span>
                                                    </td>
                                                    <td class="col-md-5">
                                                        <b> @action.Name</b>
                                                    </td>
                                                    <td class="col-md-5">@action.Description</td>
                                                    <td class="col-md-1"><input type="checkbox" @if (action.Permission) {  <text> checked="checked" </text>                      } data-id="@action.Id" class="check check-parent check-parent-@action.Id" /> </td>
                                                </tr>

                                                foreach (var child in Model.ActionsGroups.Where(o => o.ParentId == action.Id))
                                                {
                                                    <tr data-id="@child.Id" data-is-parent="0" data-parent-id="@child.ParentId" data-code="@child.Code" style="display:none;" class="child child-@child.ParentId">
                                                        <td class="col-md-1"></td>
                                                        <td class="col-md-5">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @child.Name
                                                        </td>
                                                        <td class="col-md-5">@child.Description</td>

                                                        <td class="col-md-1"><input type="checkbox" @if (child.Permission) {  <text> checked="checked" </text>                     } data-id="@child.Id" class="check check-child check-child-@child.ParentId" /> </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions left " style="background-color:#fff;">
                    <button type="button" id="btnSaveRole" class="btn purple">@Language.SAVE</button>
                    <a id="btnCancel" href="@Url.Action("Roles", "Admin")" class="btn red-stripe default">@Language.CANCEL</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/Administration/admin.roles.new.js"></script>

    <script>
        jQuery(document).ready(function () {
            Roles.init();
        });
    </script>
}
